## SETUP AND TARGET TABLE DATA FETCH

In [3]:
import os
import pandas as pd
import numpy as np
from configurations import *
from operator import itemgetter
from time import time

KEY_DIR = "/Users/lymansong/Documents/GitHub/keys"
BASE_DIR = "/Users/lymansong/Documents/GitHub/mtms"
os.chdir(BASE_DIR)
DATA_DIR = os.path.join(BASE_DIR, "data")
SPEC_DIR = os.path.join(DATA_DIR, "specs")
TABLE_NAME = 'ws_fc_user_history'
SOURCECODE_DIR = os.path.join(DATA_DIR, "source_codes")

os.environ["GOOGLE_API_KEY"] = "AIzaSyABEy2PPzLAgkNbH6jgeW3Re9UhDF-DEP0"

def df2str(df: pd.DataFrame) -> str:
    to_return = []
    for i, r in df.iterrows():
        if r["cell_type"] == 'md':
            to_return.append(f"cell_type : {r['cell_type']}\nrole: {r['role']}\ncontent: {r['codes']}\n\n")
        else:
            if pd.isna(r['cell_title']) == False:
                to_return.append(f"cell_type : {r['cell_type']}\ncell_title : {r['cell_title']}\nrole: {r['role']}\ncode: {r['codes']}\n\n")    
            else:
                to_return.append(f"cell_type : {r['cell_type']}\nrole: {r['role']}\ncode: {r['codes']}\n\n")
    return ''.join(to_return)

df = pd.read_csv(os.path.join(SOURCECODE_DIR, f"{TABLE_NAME}.csv"))
df = df.iloc[df[df['role'] == "setting"].index.values[0] + 1 : ] # 노트북에서 `setting` 헤더 이후 코드블록만 가져오기
# df = df[(df['role'] == 'code')].to_string()

df_str = df2str(df)
print(df)
print(df_str)
print(MART_TABLE_NOTICE_TEMPLATE)

    Unnamed: 0 cell_type  cell_title          role  \
5            6        md         NaN   description
6            7        md         NaN   description
7            8        py         NaN          code
8            9        md         NaN   description
9           10        py         NaN          code
10          11        md         NaN   description
11          12        py         NaN          code
12          13        md         NaN   description
13          14        py         NaN          code
14          15        md         NaN  just_heading
15          16        py         NaN          code
16          17        md         NaN  just_heading
17          18        py         NaN          code
18          19        py         NaN          code
19          20        md         NaN  just_heading
20          21        py         NaN          code
21          22        md         NaN  just_heading
22          23        md         NaN  just_heading
23          24        py         NaN          code

                                                codes
5                                      ####Main Query
6                             #####유저의 모든 멤버십 가입 히스토리
7   q1 = f"""\nselect distinct account_id, members...
8                                     #####구매 정보 JOIN
9   q2 = f"""\nselect distinct \n       a.account_...
10                      #####수기 복구 건 구분 및 멤버십 만료일자 정제
11  q3 = """\nwith RESTORE as \n(\n    select memb...
12                          #####유저정보 JOIN & 탈퇴 유형 분류
13  q5 = f"""\nselect distinct a.*, c.first_ip_cou...
14                      ##### 멤버십 상품 정보 JOIN & 컬럼명 정리
15  q6 = f"""\nselect a.account_id as we_member_id...
16       ##### 만료로 인해 성/전화번호 데이터 미수집 시 전일자 파티션 값으로 복원
17  df2 = spark.sql(f"""select * from wev_prod.we_...
18  from pyspark.sql.functions import when, col\n#...
19                                           #### Run
20  # run \nb = Dataflow(run_mode=run_mode, notifi...
21                                      #### Appendix
22                                 ##### create table
23  q = """\ncreate or replace table we_mart.ws_fc...
cell_type : md
role: description
content: ####Main Query

cell_type : md
role: description
content: #####유저의 모든 멤버십 가입 히스토리

cell_type : py
role: code
code: q1 = f"""
select distinct account_id, membership_id, artist_code, order_sheet_number, membership_number
       , started_at + interval 9 hour as started_at
       , ended_at + interval 9 hour as ended_at
       , created_at + interval 9 hour as created_at
       , expire_at + interval 9 hour as expire_at
       , min(first_create_dt + interval 9 hour)over(partition by account_id, artist_code) as first_create_dt
       , membership_status
       , min(first_create_dt + interval 9 hour)over(partition by membership_number) as shop_first_create_dt
from
(
       -- member 테이블은 현재 상태 정보만 확인할 수 있다.
       -- 과거 구매 건은 member_history 테이블로 확인
       select '1' as type, account_id, membership_id, artist_code, order_sheet_number, membership_number, started_at, ended_at
              -- SMEJ 이관 유저는 이관 시점을 멤버십 가입일자로 변경
              -- 멤버십 중복구매 허용으로 기존 갈아타기 유저를 복구한 경우에도 복구 시점을 가입일자로 변경
              , case when order_sheet_number = 1 and created_at < '2023-09-12' then timestamp('2023-09-12 00:00:00')
                     when order_sheet_number = 1 then created_at
                     else payment_completed_at end as created_at
              , 0 as member_history_id
              -- membership 상태가 deactivated 인데, 만료 예정일(ended_at) 이 updated_at 보다 미래면 만료 시점은 updated_at으로 추정.
              -- 만료되지 않은 멤버십의 만료 일자는 ended_at으로 일괄 적용
              , case when deactivated_at is not null then deactivated_at
                     when status  = 'DEACTIVATED' and ended_at > updated_at then updated_at
                     else ended_at end as expire_at
              , status as membership_status
              -- 멤버십 첫 구매일자 (유지되는 값)
              -- SMEJ 이관 유저 중 9/12일 이전 이관된 경우는 9/12일로 고정시킴
              , case when order_sheet_number = 1 and created_at < '2023-09-12' then timestamp('2023-09-12 00:00:00')
                     else created_at end as first_create_dt
       from we_mart.ods_fc_member
       where part_date = '{key}'
              and order_sheet_number <> -1
       union all
       select '2' as type, account_id, membership_id, artist_code, order_sheet_number, membership_number, started_at, ended_at
              -- SMEJ 이관 유저는 이관 시점을 멤버십 가입일자로 변경
              -- 멤버십 중복구매 허용으로 기존 갈아타기 유저를 복구한 경우에도 복구 시점을 가입일자로 변경
              , case when order_sheet_number = 1 and created_at + interval 9 hour < '2023-09-12' then timestamp('2023-09-12 00:00:00')
                     when order_sheet_number = 1 then created_at
                     else payment_completed_at end as created_at
              , member_history_id
              , case when deactivated_at is not null then deactivated_at -- [유효기간 만료] > 만료 데이터 생성
              -- [갱신/갈아타기] > 만료일자가 안찍힘 > 직후 가입한 멤버십 생성시각이 직전 멤버십의 만료시각으로 추정.
                     when lead(payment_completed_at)over(partition by membership_number order by created_at) < ended_at then lead(payment_completed_at)over(partition by membership_number order by created_at)
                     else ended_at end as expire_at
              -- member_history 테이블에만 있는 데이터는 모두 DEACTIVATED로 적용, 현재 ACTIVE한 경우라면 member 테이블에 있음.
              , 'DEACTIVATED' as membership_status
              , timestamp(null) as first_create_dt
       from membership.member_history
       where order_sheet_number <> -1
       and created_at + interval 24 month >= '{key}' -- 집계 속도 향상을 위해 과거 2년전 데이터만 집계 대상으로 포함
       and date(created_at + interval 9 hour) <= '{key}'
)
qualify row_number() over (partition by membership_number, order_sheet_number order by type, member_history_id desc) = 1 -- 각 구매 건의 가장 마지막 상태만을 가져온다. 동일 주문건의 상태 변화는 남기지 않는다.
"""
spark.sql(q1).createOrReplaceTempView('fc_history')

cell_type : md
role: description
content: #####구매 정보 JOIN

cell_type : py
role: code
code: q2 = f"""
select distinct
       a.account_id, a.membership_id, a.artist_code, a.order_sheet_number, a.membership_number
     , b.order_sheet_id, c.sale_id
     , a.started_at, a.ended_at, a.created_at
     -- 구매 취소 또는 멤버십 만료로 발생한 실제 만료시간을 기준으로 함
     , a.expire_at as expired_at
     , e.no_refunded_at
     , a.membership_status
     -- SMEJ 이관 유저는 구매 상태를 임의로 'TRANSFERRED'으로 할당
     , case when a.order_sheet_number = 1 then 'TRANSFERRED' else c.status end as order_status
     -- 갱신 시 추가로 받은 일자 계산
     , case when f.remaining_days between 1 and 60 then f.remaining_days else 0 end as additional_days
     -- 개편(2021-08) 이전은 구매타입이 없음
     , case when f.fst_type is null then 'NEW'
            when a.order_sheet_number = 1 then string(null)
            else f.fst_type end as purchase_type
     , f.last_pur_type
     , a.first_create_dt
     , a.shop_first_create_dt
     , min(a.first_create_dt)over(partition by a.account_id) as tot_first_create_dt
from fc_history a
left join wev_prod.we_mart.ods_ws_order_sheet b on b.order_sheet_number = a.order_sheet_number and b.part_date = '{key}'
left join wev_prod.we_mart.ods_ws_order_item c on c.order_sheet_id = b.order_sheet_id and c.sale_id not in (154,295,352,353,673,674,675,676,806,807) and c.part_date = '{key}'
left join
(
    -- 구매 완료 시점 확인 (구매 완료 후 환불이 발생 & 동일 fc_id로 재가입 시 no_refunded_at보다 create_dt가 더 늦을 수 있음)
    select account_id
        , membership_id
        , min(created_at) + interval 9 hour as no_refunded_at
    from  wev_prod.we_mart.ods_fc_member_confirm_purchase_history
    where part_date = '{key}'
    group by 1,2
) e on e.account_id = a.account_id and e.membership_id = a.membership_id
left join
(
  -- 가입/만료 종류 구분
  select distinct
        membership_number
      , order_sheet_number
      , max(case when type not rlike '_EXPIRED' and type not rlike '_DEACTIVATED' then remaining_days end)over(partition by membership_number, order_sheet_number) as remaining_days
      , first(type)over(partition by membership_number, order_sheet_number order by created_at) as fst_type
      , first(type)over(partition by membership_number, order_sheet_number order by created_at desc) as last_pur_type
  from wev_prod.we_mart.ods_fc_member_membership_history
  where part_date = '{key}'
) f on f.order_sheet_number = a.order_sheet_number and f.membership_number = a.membership_number
"""
spark.sql(q2).createOrReplaceTempView('fc_history_order')

cell_type : md
role: description
content: #####수기 복구 건 구분 및 멤버십 만료일자 정제

cell_type : py
role: code
code: q3 = """
with RESTORE as
(
    select membership_number, order_sheet_number, lag_ord_sheet_num, created_at + interval 9 hour as restore_dt
    from
    (
      select *
          , lag(order_sheet_number)over(partition by membership_number order by created_at) as lag_ord_sheet_num
      from wev_prod.membership.member_history
    )
    where order_sheet_number < lag_ord_sheet_num -- 히스토리 순서 상 과거 주문번호로 원복한 상황 = 멤버십 복구
)
select account_id, membership_id, artist_code, BASE.order_sheet_number, BASE.membership_number
      , order_sheet_id, sale_id
      , started_at, no_refunded_at, ended_at, created_at
      , nvl2(expired_at2, expired_at2, expired_at) as expired_at
      , expired_at as raw_expired_at -- 검증용
      , membership_status, order_status
      , additional_days, purchase_type, last_pur_type
      , next_created_at, prev_created_at
      , nvl2(RESTORE.order_sheet_number,1,0) as is_restore_item
      , nvl2(RESTORE2.lag_ord_sheet_num,1,0) as is_cx_by_restore
      , coalesce(RESTORE.restore_dt, RESTORE2.restore_dt) as restore_dt
      , first_create_dt, shop_first_create_dt, tot_first_create_dt

from
(
  select *
      , case when next_created_at is null then expired_at -- 다음 멤버십이 없음 = 정상
              -- 다음 멤버십 가입시각이 현재 멤버십 만료 시각보다 미래 = 정상
              when next_created_at >= expired_at then expired_at
              -- 다음 멤버십 가입시각이 현재 멤버십 만료 시각보다 과거 = 비정상
              when expired_at > next_created_at and order_status not in ('ORDER_CREATED', 'REFUND_COMPLETED', 'REFUND_RESOLVED', 'PAYMENT_CANCELED', 'PAYMENT_FAILED', 'DIGITAL_TICKET_EXPIRED') then expired_at -- 현재 멤버십이 구매 취소(복구한 멤버십) or 만료가 아니라면 현재가 유효한 멤버십
              -- 복구 후 구매취소한 케이스는 확인된 것이 없고, 멤버십 정책 상 구매 후 7일이 경과하면 환불 불가임.
              when expired_at > next_created_at and order_status in ('ORDER_CREATED', 'REFUND_COMPLETED', 'REFUND_RESOLVED', 'PAYMENT_CANCELED', 'PAYMENT_FAILED', 'DIGITAL_TICKET_EXPIRED') then next_created_at -- 현재 멤버십이 구매 취소 or 만료라면 현재는 유효하지 않은 멤버십이고, 만료 시각 지연 또는 오류로 만료 시각을 다음 멤버십 가입 시각으로 강제 변경
              end expired_at2
  from
  (
    select *
          , lead(created_at) over (partition by membership_number order by order_sheet_number) as next_created_at
          , lag(created_at) over (partition by membership_number order by order_sheet_number) as prev_created_at
    from fc_history_order
  )
) as BASE
left join RESTORE on RESTORE.order_sheet_number = BASE.order_sheet_number and RESTORE.membership_number = BASE.membership_number
left join RESTORE as RESTORE2 on RESTORE2.lag_ord_sheet_num = BASE.order_sheet_number and RESTORE2.membership_number = BASE.membership_number
"""
spark.sql(q3).createOrReplaceTempView('fc_history_restore')

cell_type : md
role: description
content: #####유저정보 JOIN & 탈퇴 유형 분류

cell_type : py
role: code
code: q5 = f"""
select distinct a.*, c.first_ip_country, c.country as purchase_ip_country_code
from
(
  -- 만료 종류 구분
  select a.*
      , b.user_id
      , b.status as user_status
      , case when a.membership_status = 'DEACTIVATED' and a.last_pur_type in ('ADMINISTRATOR_MANUAL_DEACTIVATED', 'REFUND_EXPIRED') then '구매 취소'
             when a.membership_status = 'DEACTIVATED' and a.last_pur_type = 'SERVICE_DEACTIVATED' then '위버스 어카운트 탈퇴'
             when a.membership_status = 'DEACTIVATED' and a.last_pur_type = 'SERVICE_EXPIRED' then '유효기간 만료(갱신가능)'
             when a.membership_status = 'DEACTIVATED' and lead(a.purchase_type)over(partition by a.membership_number order by a.created_at) = 'RENEW' then '갱신으로 인한 만료'
             when a.membership_status = 'DEACTIVATED' and lead(a.purchase_type)over(partition by a.membership_number order by a.created_at) = 'CHANGE' then '갈아타기로 인한 만료'
             end as withdraw_status
  from fc_history_restore a
  left join
  (
    select we_member_id as account_id
         , user_id
         , status
    from wev_prod.we_mart.ods_ws_user
    where part_date = '{key}'
    qualify row_number()over(partition by we_member_id order by user_id desc) = 1
  ) b on b.account_id = a.account_id
  where date(a.created_at) <= date('{key}') and date('{key}') <= date(a.expired_at)
) a
left join
(
  select distinct
         user_id
       , country
       , ip
       , created_at + interval 9 hour as date_id
       , first(country)over(partition by user_id order by created_at) as first_ip_country
       , nvl(lead(created_at + interval 9 hour) over (partition by user_id, member_id order by created_at), '2099-12-31 23:59:59') as next_date_id
    from wev_prod.we_mart.ws_user_ctry_history
    where part_date <= '{key}'
    qualify row_number() over(partition by user_id order by created_at desc) = 1 -- 중복 데이터 방지
) c
on c.user_id = a.user_id and date(c.date_id) <= date(a.started_at) and date(a.started_at) < date(c.next_date_id)
"""
spark.sql(q5).createOrReplaceTempView('mem_user_base')

cell_type : md
role: just_heading
content: ##### 멤버십 상품 정보 JOIN & 컬럼명 정리

cell_type : py
role: code
code: q6 = f"""
select a.account_id as we_member_id, a.user_id, a.user_status, string(null) as birth_date, b.gender as sex, first_ip_country as first_ip_ctry
    , d.we_art_id, d.we_art_name, d.comm_id, d.ws_art_id, d.ws_label_id
    , c.shop_code as shop, a.membership_id as fc_id
    , c.membership_name as fc_name
    , cast(replace(c.version_code, 'V', '') as int) as fc_ver
    , c.type_code as fc_type
    , a.membership_number as fc_num
    , a.created_at as create_dt, a.no_refunded_at as no_refund_dt, a.expired_at as expire_dt, a.started_at as start_dt, a.ended_at as end_dt
    , a.purchase_ip_country_code as ord_ip_ctry
    , e.ctry_calling_code as auth_call_code, e.auth_ctry_code, e.auth_ctry_name
    , a.sale_id, a.order_sheet_id as ord_sheet_id, a.order_sheet_number as ord_sheet_num
    , a.purchase_type as pur_type, a.membership_status as fc_status, a.order_status as ord_status, a.withdraw_status
    , cast(case when f.last_ord_sheet_num != a.order_sheet_number then f.purchase_seq + 1 else f.purchase_seq end as int) as pur_seq
    , a.additional_days as extra_day
    , a.is_restore_item, a.is_cx_by_restore, a.restore_dt
    , a.first_create_dt, a.shop_first_create_dt, a.tot_first_create_dt
    , a.raw_expired_at
    , now() + interval 9 hour as run_timestamp, '{key}' as part_date, d.ws_art_id as part_art_id
from mem_user_base a
left join
(
    select membership_number
         , created_at + interval 9 hour as created_at
         , country_calling_code
         , gender
         , nvl(lead(created_at)over(partition by membership_number order by created_at), '2999-12-31') + interval 9 hour as next_created_at
    from wev_prod.membership.member_privacy_history
) b on b.membership_number = a.membership_number and date(b.created_at) <= date('{key}') and date('{key}') < date(b.next_created_at)
left join
(
    SELECT a.membership_id
         , c.artist_code
         , c.artist_name
         , e.shop_code
         , a.membership_name
         , d.version_code
         , f.type_code
         , a.use_type
         , a.season_started_at
         , a.season_ended_at
         , a.subscription_period
         , c.deep_link
         , c.push_deep_link
         , a.created_at
         , a.updated_at
    FROM wev_prod.membership.membership a
    LEFT JOIN wev_prod.membership.artist_shop_version b ON b.artist_shop_version_id = a.artist_shop_version_id
    LEFT JOIN wev_prod.membership.artist c ON c.artist_id  = b.artist_id
    LEFT JOIN wev_prod.membership.membership_version d ON d.membership_version_id  = b.membership_version_id
    LEFT JOIN wev_prod.membership.membership_shop e ON e.membership_shop_id = b.membership_shop_id
    LEFT JOIN wev_prod.membership.membership_type f on f.membership_type_id = a.membership_type_id
) c on c.membership_id = a.membership_id
left join wev_prod.we_mart.we_artist d on d.fc_artist_code = a.artist_code
left join
(
    select cast(ctry_calling_code as int) as ctry_calling_code
         , sort_array(collect_set(ctry_name)) as auth_ctry_name
         , sort_array(collect_set(ctry_code)) as auth_ctry_code
    from wev_prod.we_meta.we_country
    group by 1
) e on e.ctry_calling_code = b.country_calling_code
left join
(
    select distinct
        membership_number as fc_num
        , count(1)over(partition by membership_number) as purchase_seq
        , first(order_sheet_number)over(partition by membership_number order by order_sheet_number desc) as last_ord_sheet_num
    from
    (
        select distinct membership_number, order_sheet_number
        from wev_prod.membership.member_history
    )
) f on f.fc_num = a.membership_number
"""
df = spark.sql(q6)

cell_type : md
role: just_heading
content: ##### 만료로 인해 성/전화번호 데이터 미수집 시 전일자 파티션 값으로 복원

cell_type : py
role: code
code: df2 = spark.sql(f"""select * from wev_prod.we_mart.ws_fc_user_history where part_date = date_sub('{key}', 1)""")

cell_type : py
role: code
code: from pyspark.sql.functions import when, col
#컬러명 Dup으로 인해 2단계로 나눠서 진행
df3 = df.alias('df').join(df2.alias('df2'), (df.ord_sheet_num == df2.ord_sheet_num) & (df.fc_num == df2.fc_num), "left")\
  .withColumn("new_gender", when(df.sex.isNull(), df2.sex).when(df.sex == 'UNKNOWN', df2.sex).otherwise(df.sex))\
  .withColumn("new_call_code", when(df.auth_call_code.isNull(), df2.auth_call_code).otherwise(df.auth_call_code))\
  .withColumn("new_ctry_code", when(df.auth_ctry_code.isNull(), df2.auth_ctry_code).otherwise(df.auth_ctry_code))\
  .withColumn("new_ctry_name", when(df.auth_ctry_name.isNull(), df2.auth_ctry_name).otherwise(df.auth_ctry_name))\
  .select("df.*", "new_gender", "new_call_code", "new_ctry_code", "new_ctry_name")

df4 = df3.withColumn("sex", when(col("sex").isNull(), col("new_gender")).when(col("sex") == 'UNKNOWN', col("new_gender")).otherwise(col("sex")))\
  .withColumn("auth_call_code", when(col("auth_call_code").isNull(), col("new_call_code")).otherwise(col("auth_call_code")))\
  .withColumn("auth_ctry_code", when(col("auth_ctry_code").isNull(), col("new_ctry_code")).otherwise(col("auth_ctry_code")))\
  .withColumn("auth_ctry_name", when(col("auth_ctry_name").isNull(), col("new_ctry_name")).otherwise(col("auth_ctry_name")))\
  .select( "we_member_id"        ,"user_id"             ,"user_status"         ,"birth_date"          ,"sex"\
          ,"first_ip_ctry"       ,"we_art_id"           ,"we_art_name"         ,"comm_id"             ,"ws_art_id"\
          ,"ws_label_id"         ,"shop"                ,"fc_id"               ,"fc_name"             ,"fc_ver"\
          ,"fc_type"             ,"fc_num"              ,"create_dt"           ,"no_refund_dt"        ,"expire_dt"\
          ,"start_dt"            ,"end_dt"              ,"ord_ip_ctry"         ,"auth_call_code"      ,"auth_ctry_code"\
          ,"auth_ctry_name"      ,"sale_id"             ,"ord_sheet_id"        ,"ord_sheet_num"       ,"pur_type"\
          ,"fc_status"           ,"ord_status"          ,"withdraw_status"     ,"pur_seq"             ,"extra_day"\
          ,"is_restore_item"     ,"is_cx_by_restore"    ,"restore_dt",          "first_create_dt"		  ,"shop_first_create_dt" \
          , "tot_first_create_dt","raw_expired_at"      ,"run_timestamp"	      ,"part_date"			     ,"part_art_id")

cell_type : md
role: just_heading
content: #### Run

cell_type : py
role: code
code: # run
b = Dataflow(run_mode=run_mode, notifier=noti)
b.run(dataframe=df4, table_info=table, option=option, buckets=['databricks'])

cell_type : md
role: just_heading
content: #### Appendix

cell_type : md
role: just_heading
content: ##### create table

cell_type : py

In [5]:


# from langchain_openai import ChatOpenAI, OpenAIEmbeddings
import langchain_google_genai as genai
from langchain_google_genai import ChatGoogleGenerativeAI, GoogleGenerativeAI
from langchain_google_genai import GoogleGenerativeAIEmbeddings 
# from langchain_anthropic import ChatAnthropic
from langchain.prompts import PromptTemplate
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_core.runnables import ConfigurableField
from langchain_community.vectorstores.faiss import FAISS


from langchain_community.retrievers import BM25Retriever
from langchain.retrievers import EnsembleRetriever
# from FaissMetaVectorStore import FaissMetaVectorStore # Custom 제작 메타 데이터 벡터스토어

## TABLE NOTICE GEN

In [212]:
llm = GoogleGenerativeAI(model="gemini-1.5-flash", api_key=os.getenv("GOOGLE_AI_API_KEY"))

In [213]:
template ="""
You are tasked with creating a data table specification document based on a Python notebook containing a series of queries for creating data. This document will help future users understand the structure, purpose, and proper usage of the target table. Follow these instructions carefully:

1. You will be provided with the Python notebook code in the following format:
<notebook_code>
{notebook_code}
</notebook_code>

2. You will also be provided with several documents that contain the data specifications of the source tables used to create the target table. Review these documents to better understand the source data:
<data_specification_documents>
{data_specification_documents}
</data_specification_documents>
3. Analyze the provided code and documents thoroughly. Pay attention to:
- The structure of the queries
- Data sources and transformations
- Column names and their purposes
- Any specific methods or design patterns used
- Here are brief explanations and general guidelines for Weverse Datawarehouse. Follow the rules in it:
    <general_guide>
    {general_guide}
    </general_guide>

4. Create a data table specification document that explains:
- The logic behind how the target table is created
- The structure of the data
- Key insights and findings based on the code analysis

5. Provide guidance for future users on how to use the target table, including:
- Cautions when joining this table with others
- How to extract meaningful insights or perform specific analyses
- The level of the target table (e.g., aggregated or detailed)

6. Format your output as follows:
- Use a series of bullet points to summarize key insights and findings
- Use markdown formatting
- Use indentation to show relationships between content
- Wrap column names, code blocks, or other code-based object names in backticks (`)
- Use headings up to level 2 only
- 한국어 결과는 존댓말이 아닌 단답으로 해줘. (ex. "A 컬럼을 파티션 키로 활용 합니다." 대신 "A 컬럼을 파티션 키로 활용")
- If external data sources are mentioned, use markdown hyperlink format: [source page name](https://abc.com)
- The following is a template of the expected output format. Please use these as a layout example for structure and style. Note that specific details may vary depending on the table and source code structure.
    <template_document>
    {template_document}
    </template_document>

7. In your analysis, be sure to cover:
- The structure of the table, including dimension columns and their purposes
- Any distinctive columns or data representation methods
- How the table is indexed or partitioned
- The data extraction process, being as specific as possible

8. Do NOT include the following in your output:
- Detailed analysis of CSV file structure
- Basic abstract information about the table
- Explanation of specific settings or configurations
- One-by-one column explanation (DDL)
- Description of how the target table is stored using specific tools or libraries other than query or pyspark codes

9. Begin your analysis immediately after these instructions. Provide your entire output within <answer> tags.

Remember to focus on providing valuable insights and practical guidance for future users of the data table. Your analysis should be thorough, clear, and tailored to the specific code provided.
"""
prompt = PromptTemplate(
    input_variables=["notebook_code", "data_specification_documents", "general_guide", "template_document"],
    template=template
)

prompt.format(
    notebook_code = df_str,
    data_specification_documents =  "No related tables",
    general_guide = GENERAL_GUIDE,
    template_document = MART_TABLE_NOTICE_TEMPLATE 
)

'\n    You are tasked with creating a data table specification document based on a Python notebook containing a series of queries for creating data. This document will help future users understand the structure, purpose, and proper usage of the target table. Follow these instructions carefully:\n\n    1. You will be provided with the Python notebook code in the following format:\n    <notebook_code>\n    cell_type : md\nrole: description\ncontent: ####Main Query\n\ncell_type : md\nrole: description\ncontent: #####유저의 모든 멤버십 가입 히스토리\n\ncell_type : py\nrole: code\ncode: q1 = f"""\nselect distinct account_id, membership_id, artist_code, order_sheet_number, membership_number\n       , started_at + interval 9 hour as started_at\n       , ended_at + interval 9 hour as ended_at\n       , created_at + interval 9 hour as created_at\n       , expire_at + interval 9 hour as expire_at\n       , min(first_create_dt + interval 9 hour)over(partition by account_id, artist_code) as first_create_dt\n       , membership_status\n       , min(first_create_dt + interval 9 hour)over(partition by membership_number) as shop_first_create_dt\nfrom \n(\n       -- member 테이블은 현재 상태 정보만 확인할 수 있다.\n       -- 과거 구매 건은 member_history 테이블로 확인\n       select \'1\' as type, account_id, membership_id, artist_code, order_sheet_number, membership_number, started_at, ended_at\n              -- SMEJ 이관 유저는 이관 시점을 멤버십 가입일자로 변경\n              -- 멤버십 중복구매 허용으로 기존 갈아타기 유저를 복구한 경우에도 복구 시점을 가입일자로 변경\n              , case when order_sheet_number = 1 and created_at < \'2023-09-12\' then timestamp(\'2023-09-12 00:00:00\')\n                     when order_sheet_number = 1 then created_at\n                     else payment_completed_at end as created_at\n              , 0 as member_history_id\n              -- membership 상태가 deactivated 인데, 만료 예정일(ended_at) 이 updated_at 보다 미래면 만료 시점은 updated_at으로 추정.\n              -- 만료되지 않은 멤버십의 만료 일자는 ended_at으로 일괄 적용\n              , case when deactivated_at is not null then deactivated_at\n                     when status  = \'DEACTIVATED\' and ended_at > updated_at then updated_at \n                     else ended_at end as expire_at\n              , status as membership_status\n              -- 멤버십 첫 구매일자 (유지되는 값)\n              -- SMEJ 이관 유저 중 9/12일 이전 이관된 경우는 9/12일로 고정시킴\n              , case when order_sheet_number = 1 and created_at < \'2023-09-12\' then timestamp(\'2023-09-12 00:00:00\')\n                     else created_at end as first_create_dt\n       from we_mart.ods_fc_member\n       where part_date = \'{key}\'\n              and order_sheet_number <> -1\n       union all \n       select \'2\' as type, account_id, membership_id, artist_code, order_sheet_number, membership_number, started_at, ended_at\n              -- SMEJ 이관 유저는 이관 시점을 멤버십 가입일자로 변경\n              -- 멤버십 중복구매 허용으로 기존 갈아타기 유저를 복구한 경우에도 복구 시점을 가입일자로 변경\n              , case when order_sheet_number = 1 and created_at + interval 9 hour < \'2023-09-12\' then timestamp(\'2023-09-12 00:00:00\')\n                     when order_sheet_number = 1 then created_at\n                     else payment_completed_at end as created_at\n              , member_history_id\n              , case when deactivated_at is not null then deactivated_at -- [유효기간 만료] > 만료 데이터 생성\n              -- [갱신/갈아타기] > 만료일자가 안찍힘 > 직후 가입한 멤버십 생성시각이 직전 멤버십의 만료시각으로 추정.\n                     when lead(payment_completed_at)over(partition by membership_number order by created_at) < ended_at then lead(payment_completed_at)over(partition by membership_number order by created_at)\n                     else ended_at end as expire_at\n              -- member_history 테이블에만 있는 데이터는 모두 DEACTIVATED로 적용, 현재 ACTIVE한 경우라면 member 테이블에 있음.\n              , \'DEACTIVATED\' as membership_status \n              , timestamp(null) as first_create_dt\n       from membership.member_history \n       where order_sheet_number <> -1 \n       and created_at + interval 24 month >= \'{key}\' -- 집계 속도 향상을 위해 과거 2년전 데이터만 집계 대상으로 포함\n       and date(created_at + interval 9 hour) <= \'{key}\'\n)\nqualify row_number() over (partition by membership_number, order_sheet_number order by type, member_history_id desc) = 1 -- 각 구매 건의 가장 마지막 상태만을 가져온다. 동일 주문건의 상태 변화는 남기지 않는다.\n"""\nspark.sql(q1).createOrReplaceTempView(\'fc_history\')\n\ncell_type : md\nrole: description\ncontent: #####구매 정보 JOIN\n\ncell_type : py\nrole: code\ncode: q2 = f"""\nselect distinct \n       a.account_id, a.membership_id, a.artist_code, a.order_sheet_number, a.membership_number\n     , b.order_sheet_id, c.sale_id\n     , a.started_at, a.ended_at, a.created_at\n     -- 구매 취소 또는 멤버십 만료로 발생한 실제 만료시간을 기준으로 함\n     , a.expire_at as expired_at\n     , e.no_refunded_at\n     , a.membership_status\n     -- SMEJ 이관 유저는 구매 상태를 임의로 \'TRANSFERRED\'으로 할당\n     , case when a.order_sheet_number = 1 then \'TRANSFERRED\' else c.status end as order_status\n     -- 갱신 시 추가로 받은 일자 계산\n     , case when f.remaining_days between 1 and 60 then f.remaining_days else 0 end as additional_days\n     -- 개편(2021-08) 이전은 구매타입이 없음\n     , case when f.fst_type is null then \'NEW\' \n            when a.order_sheet_number = 1 then string(null)\n            else f.fst_type end as purchase_type \n     , f.last_pur_type\n     , a.first_create_dt\n     , a.shop_first_create_dt\n     , min(a.first_create_dt)over(partition by a.account_id) as tot_first_create_dt\nfrom fc_history a\nleft join wev_prod.we_mart.ods_ws_order_sheet b on b.order_sheet_number = a.order_sheet_number and b.part_date = \'{key}\'\nleft join wev_prod.we_mart.ods_ws_order_item c on c.order_sheet_id = b.order_sheet_id and c.sale_id not in (154,295,352,353,673,674,675,676,806,807) and c.part_date = \'{key}\'\nleft join \n(\n    -- 구매 완료 시점 확인 (구매 완료 후 환불이 발생 & 동일 fc_id로 재가입 시 no_refunded_at보다 create_dt가 더 늦을 수 있음)\n    select account_id\n        , membership_id\n        , min(created_at) + interval 9 hour as no_refunded_at\n    from  wev_prod.we_mart.ods_fc_member_confirm_purchase_history \n    where part_date = \'{key}\'\n    group by 1,2\n) e on e.account_id = a.account_id and e.membership_id = a.membership_id\nleft join \n(\n  -- 가입/만료 종류 구분\n  select distinct \n        membership_number\n      , order_sheet_number\n      , max(case when type not rlike \'_EXPIRED\' and type not rlike \'_DEACTIVATED\' then remaining_days end)over(partition by membership_number, order_sheet_number) as remaining_days\n      , first(type)over(partition by membership_number, order_sheet_number order by created_at) as fst_type\n      , first(type)over(partition by membership_number, order_sheet_number order by created_at desc) as last_pur_type\n  from wev_prod.we_mart.ods_fc_member_membership_history\n  where part_date = \'{key}\'\n) f on f.order_sheet_number = a.order_sheet_number and f.membership_number = a.membership_number\n"""\nspark.sql(q2).createOrReplaceTempView(\'fc_history_order\')\n\ncell_type : md\nrole: description\ncontent: #####수기 복구 건 구분 및 멤버십 만료일자 정제\n\ncell_type : py\nrole: code\ncode: q3 = """\nwith RESTORE as \n(\n    select membership_number, order_sheet_number, lag_ord_sheet_num, created_at + interval 9 hour as restore_dt\n    from\n    (\n      select *\n          , lag(order_sheet_number)over(partition by membership_number order by created_at) as lag_ord_sheet_num\n      from wev_prod.membership.member_history \n    )\n    where order_sheet_number < lag_ord_sheet_num -- 히스토리 순서 상 과거 주문번호로 원복한 상황 = 멤버십 복구\n)\nselect account_id, membership_id, artist_code, BASE.order_sheet_number, BASE.membership_number\n      , order_sheet_id, sale_id\n      , started_at, no_refunded_at, ended_at, created_at\n      , nvl2(expired_at2, expired_at2, expired_at) as expired_at\n      , expired_at as raw_expired_at -- 검증용\n      , membership_status, order_status\n      , additional_days, purchase_type, last_pur_type\n      , next_created_at, prev_created_at\n      , nvl2(RESTORE.order_sheet_number,1,0) as is_restore_item\n      , nvl2(RESTORE2.lag_ord_sheet_num,1,0) as is_cx_by_restore\n      , coalesce(RESTORE.restore_dt, RESTORE2.restore_dt) as restore_dt\n      , first_create_dt, shop_first_create_dt, tot_first_create_dt\n      \nfrom\n(\n  select *\n      , case when next_created_at is null then expired_at -- 다음 멤버십이 없음 = 정상\n              -- 다음 멤버십 가입시각이 현재 멤버십 만료 시각보다 미래 = 정상\n              when next_created_at >= expired_at then expired_at \n              -- 다음 멤버십 가입시각이 현재 멤버십 만료 시각보다 과거 = 비정상\n              when expired_at > next_created_at and order_status not in (\'ORDER_CREATED\', \'REFUND_COMPLETED\', \'REFUND_RESOLVED\', \'PAYMENT_CANCELED\', \'PAYMENT_FAILED\', \'DIGITAL_TICKET_EXPIRED\') then expired_at -- 현재 멤버십이 구매 취소(복구한 멤버십) or 만료가 아니라면 현재가 유효한 멤버십\n              -- 복구 후 구매취소한 케이스는 확인된 것이 없고, 멤버십 정책 상 구매 후 7일이 경과하면 환불 불가임.\n              when expired_at > next_created_at and order_status in (\'ORDER_CREATED\', \'REFUND_COMPLETED\', \'REFUND_RESOLVED\', \'PAYMENT_CANCELED\', \'PAYMENT_FAILED\', \'DIGITAL_TICKET_EXPIRED\') then next_created_at -- 현재 멤버십이 구매 취소 or 만료라면 현재는 유효하지 않은 멤버십이고, 만료 시각 지연 또는 오류로 만료 시각을 다음 멤버십 가입 시각으로 강제 변경\n              end expired_at2\n  from\n  (\n    select *\n          , lead(created_at) over (partition by membership_number order by order_sheet_number) as next_created_at\n          , lag(created_at) over (partition by membership_number order by order_sheet_number) as prev_created_at\n    from fc_history_order\n  )\n) as BASE\nleft join RESTORE on RESTORE.order_sheet_number = BASE.order_sheet_number and RESTORE.membership_number = BASE.membership_number\nleft join RESTORE as RESTORE2 on RESTORE2.lag_ord_sheet_num = BASE.order_sheet_number and RESTORE2.membership_number = BASE.membership_number\n"""\nspark.sql(q3).createOrReplaceTempView(\'fc_history_restore\')\n\ncell_type : md\nrole: description\ncontent: #####유저정보 JOIN & 탈퇴 유형 분류\n\ncell_type : py\nrole: code\ncode: q5 = f"""\nselect distinct a.*, c.first_ip_country, c.country as purchase_ip_country_code\nfrom\n(\n  -- 만료 종류 구분\n  select a.*\n      , b.user_id\n      , b.status as user_status\n      , case when a.membership_status = \'DEACTIVATED\' and a.last_pur_type in (\'ADMINISTRATOR_MANUAL_DEACTIVATED\', \'REFUND_EXPIRED\') then \'구매 취소\'\n             when a.membership_status = \'DEACTIVATED\' and a.last_pur_type = \'SERVICE_DEACTIVATED\' then \'위버스 어카운트 탈퇴\'\n             when a.membership_status = \'DEACTIVATED\' and a.last_pur_type = \'SERVICE_EXPIRED\' then \'유효기간 만료(갱신가능)\'\n             when a.membership_status = \'DEACTIVATED\' and lead(a.purchase_type)over(partition by a.membership_number order by a.created_at) = \'RENEW\' then \'갱신으로 인한 만료\'\n             when a.membership_status = \'DEACTIVATED\' and lead(a.purchase_type)over(partition by a.membership_number order by a.created_at) = \'CHANGE\' then \'갈아타기로 인한 만료\'\n             end as withdraw_status\n  from fc_history_restore a \n  left join \n  (\n    select we_member_id as account_id\n         , user_id\n         , status\n    from wev_prod.we_mart.ods_ws_user \n    where part_date = \'{key}\'\n    qualify row_number()over(partition by we_member_id order by user_id desc) = 1\n  ) b on b.account_id = a.account_id \n  where date(a.created_at) <= date(\'{key}\') and date(\'{key}\') <= date(a.expired_at)\n) a \nleft join \n(\n  select distinct \n         user_id\n       , country\n       , ip\n       , created_at + interval 9 hour as date_id\n       , first(country)over(partition by user_id order by created_at) as first_ip_country\n       , nvl(lead(created_at + interval 9 hour) over (partition by user_id, member_id order by created_at), \'2099-12-31 23:59:59\') as next_date_id \n    from wev_prod.we_mart.ws_user_ctry_history\n    where part_date <= \'{key}\'\n    qualify row_number() over(partition by user_id order by created_at desc) = 1 -- 중복 데이터 방지\n) c\non c.user_id = a.user_id and date(c.date_id) <= date(a.started_at) and date(a.started_at) < date(c.next_date_id)\n"""\nspark.sql(q5).createOrReplaceTempView(\'mem_user_base\')\n\ncell_type : md\nrole: just_heading\ncontent: ##### 멤버십 상품 정보 JOIN & 컬럼명 정리\n\ncell_type : py\nrole: code\ncode: q6 = f"""\nselect a.account_id as we_member_id, a.user_id, a.user_status, string(null) as birth_date, b.gender as sex, first_ip_country as first_ip_ctry\n    , d.we_art_id, d.we_art_name, d.comm_id, d.ws_art_id, d.ws_label_id\n    , c.shop_code as shop, a.membership_id as fc_id\n    , c.membership_name as fc_name\n    , cast(replace(c.version_code, \'V\', \'\') as int) as fc_ver\n    , c.type_code as fc_type\n    , a.membership_number as fc_num\n    , a.created_at as create_dt, a.no_refunded_at as no_refund_dt, a.expired_at as expire_dt, a.started_at as start_dt, a.ended_at as end_dt\n    , a.purchase_ip_country_code as ord_ip_ctry\n    , e.ctry_calling_code as auth_call_code, e.auth_ctry_code, e.auth_ctry_name\n    , a.sale_id, a.order_sheet_id as ord_sheet_id, a.order_sheet_number as ord_sheet_num\n    , a.purchase_type as pur_type, a.membership_status as fc_status, a.order_status as ord_status, a.withdraw_status\n    , cast(case when f.last_ord_sheet_num != a.order_sheet_number then f.purchase_seq + 1 else f.purchase_seq end as int) as pur_seq\n    , a.additional_days as extra_day\n    , a.is_restore_item, a.is_cx_by_restore, a.restore_dt\n    , a.first_create_dt, a.shop_first_create_dt, a.tot_first_create_dt\n    , a.raw_expired_at\n    , now() + interval 9 hour as run_timestamp, \'{key}\' as part_date, d.ws_art_id as part_art_id\nfrom mem_user_base a \nleft join \n(\n    select membership_number\n         , created_at + interval 9 hour as created_at\n         , country_calling_code\n         , gender\n         , nvl(lead(created_at)over(partition by membership_number order by created_at), \'2999-12-31\') + interval 9 hour as next_created_at\n    from wev_prod.membership.member_privacy_history\n) b on b.membership_number = a.membership_number and date(b.created_at) <= date(\'{key}\') and date(\'{key}\') < date(b.next_created_at)\nleft join \n(\n    SELECT a.membership_id\n         , c.artist_code\n         , c.artist_name\n         , e.shop_code\n         , a.membership_name\n         , d.version_code \n         , f.type_code\n         , a.use_type\n         , a.season_started_at\n         , a.season_ended_at\n         , a.subscription_period \n         , c.deep_link \n         , c.push_deep_link\n         , a.created_at \n         , a.updated_at \n    FROM wev_prod.membership.membership a\n    LEFT JOIN wev_prod.membership.artist_shop_version b ON b.artist_shop_version_id = a.artist_shop_version_id\n    LEFT JOIN wev_prod.membership.artist c ON c.artist_id  = b.artist_id \n    LEFT JOIN wev_prod.membership.membership_version d ON d.membership_version_id  = b.membership_version_id\n    LEFT JOIN wev_prod.membership.membership_shop e ON e.membership_shop_id = b.membership_shop_id \n    LEFT JOIN wev_prod.membership.membership_type f on f.membership_type_id = a.membership_type_id\n) c on c.membership_id = a.membership_id\nleft join wev_prod.we_mart.we_artist d on d.fc_artist_code = a.artist_code \nleft join \n(\n    select cast(ctry_calling_code as int) as ctry_calling_code\n         , sort_array(collect_set(ctry_name)) as auth_ctry_name\n         , sort_array(collect_set(ctry_code)) as auth_ctry_code\n    from wev_prod.we_meta.we_country\n    group by 1\n) e on e.ctry_calling_code = b.country_calling_code\nleft join \n(\n    select distinct \n        membership_number as fc_num\n        , count(1)over(partition by membership_number) as purchase_seq\n        , first(order_sheet_number)over(partition by membership_number order by order_sheet_number desc) as last_ord_sheet_num\n    from \n    (\n        select distinct membership_number, order_sheet_number\n        from wev_prod.membership.member_history\n    )\n) f on f.fc_num = a.membership_number\n"""\ndf = spark.sql(q6)\n\ncell_type : md\nrole: just_heading\ncontent: ##### 만료로 인해 성/전화번호 데이터 미수집 시 전일자 파티션 값으로 복원\n\ncell_type : py\nrole: code\ncode: df2 = spark.sql(f"""select * from wev_prod.we_mart.ws_fc_user_history where part_date = date_sub(\'{key}\', 1)""")\n\ncell_type : py\nrole: code\ncode: from pyspark.sql.functions import when, col\n#컬러명 Dup으로 인해 2단계로 나눠서 진행\ndf3 = df.alias(\'df\').join(df2.alias(\'df2\'), (df.ord_sheet_num == df2.ord_sheet_num) & (df.fc_num == df2.fc_num), "left")\\\n  .withColumn("new_gender", when(df.sex.isNull(), df2.sex).when(df.sex == \'UNKNOWN\', df2.sex).otherwise(df.sex))\\\n  .withColumn("new_call_code", when(df.auth_call_code.isNull(), df2.auth_call_code).otherwise(df.auth_call_code))\\\n  .withColumn("new_ctry_code", when(df.auth_ctry_code.isNull(), df2.auth_ctry_code).otherwise(df.auth_ctry_code))\\\n  .withColumn("new_ctry_name", when(df.auth_ctry_name.isNull(), df2.auth_ctry_name).otherwise(df.auth_ctry_name))\\\n  .select("df.*", "new_gender", "new_call_code", "new_ctry_code", "new_ctry_name")\n\ndf4 = df3.withColumn("sex", when(col("sex").isNull(), col("new_gender")).when(col("sex") == \'UNKNOWN\', col("new_gender")).otherwise(col("sex")))\\\n  .withColumn("auth_call_code", when(col("auth_call_code").isNull(), col("new_call_code")).otherwise(col("auth_call_code")))\\\n  .withColumn("auth_ctry_code", when(col("auth_ctry_code").isNull(), col("new_ctry_code")).otherwise(col("auth_ctry_code")))\\\n  .withColumn("auth_ctry_name", when(col("auth_ctry_name").isNull(), col("new_ctry_name")).otherwise(col("auth_ctry_name")))\\\n  .select( "we_member_id"        ,"user_id"             ,"user_status"         ,"birth_date"          ,"sex"\\\n          ,"first_ip_ctry"       ,"we_art_id"           ,"we_art_name"         ,"comm_id"             ,"ws_art_id"\\\n          ,"ws_label_id"         ,"shop"                ,"fc_id"               ,"fc_name"             ,"fc_ver"\\\n          ,"fc_type"             ,"fc_num"              ,"create_dt"           ,"no_refund_dt"        ,"expire_dt"\\\n          ,"start_dt"            ,"end_dt"              ,"ord_ip_ctry"         ,"auth_call_code"      ,"auth_ctry_code"\\\n          ,"auth_ctry_name"      ,"sale_id"             ,"ord_sheet_id"        ,"ord_sheet_num"       ,"pur_type"\\\n          ,"fc_status"           ,"ord_status"          ,"withdraw_status"     ,"pur_seq"             ,"extra_day"\\\n          ,"is_restore_item"     ,"is_cx_by_restore"    ,"restore_dt",          "first_create_dt"\t\t  ,"shop_first_create_dt" \\\n          , "tot_first_create_dt","raw_expired_at"      ,"run_timestamp"\t      ,"part_date"\t\t\t     ,"part_art_id")\n\ncell_type : md\nrole: just_heading\ncontent: #### Run\n\ncell_type : py\nrole: code\ncode: # run \nb = Dataflow(run_mode=run_mode, notifier=noti)\nb.run(dataframe=df4, table_info=table, option=option, buckets=[\'databricks\'])\n\ncell_type : md\nrole: just_heading\ncontent: #### Appendix\n\ncell_type : md\nrole: just_heading\ncontent: ##### create table\n\ncell_type : py\nrole: code\ncode: q = """\ncreate or replace table we_mart.ws_fc_user_history (\n  we_member_id                   bigint           comment "we_member_id"  \n, user_id                        bigint           comment "위버스샵 회원 id"\n, user_status                    string           comment "위버스샵 계정 상태"\n, birth_date                     string           comment "생년월일"\n, sex                            string           comment "성별"\n, first_ip_ctry                  string           comment "최초 접속 국가"\n, we_art_id                         int           comment "we_art_id"\n, we_art_name                       string           comment "we_art_name"\n, comm_id                         bigint           comment "위버스 커뮤니티 id"\n, ws_art_id                         bigint           comment "위버스샵 아티스트 id"\n, ws_label_id                         bigint           comment "위버스샵 레이블 id"\n, shop                           string           comment "멤버십 구매 SHOP"\n, fc_id                          bigint           comment "멤버십 id"\n, fc_name                        string           comment "멤버십명"\n, fc_ver                         int             

In [214]:
answer = llm.invoke(prompt.format(
    notebook_code = df_str,
    data_specification_documents =  "No related tables",
    general_guide = GENERAL_GUIDE,
    template_document = MART_TABLE_NOTICE_TEMPLATE 
))

print(answer)

<answer>
### 테이블 개요

* **테이블 목적**: 위버스샵 멤버십 가입/구매 이력 데이터를 담고 있음
* **데이터 레벨**: 상세 레벨
* **파티션 키**: `part_art_id`, `part_date`
* **주요 키**: `we_member_id`, `fc_id`, `fc_num`, `ord_sheet_num`

### 테이블 특징
* 위버스샵 멤버십 가입/구매 이력 데이터를 `we_mart.ods_fc_member`, `membership.member_history` 테이블과 `we_mart.ods_ws_order_sheet`, `we_mart.ods_ws_order_item` 테이블을 조인하여 생성함
* 멤버십 복구, 구매 취소, 만료 등 다양한 이벤트 정보를 포함하며 `withdraw_status` 컬럼을 통해 만료 상세 내용을 확인 가능함
* 멤버십 가입 시점, 만료 시점, 구매 시점 등 다양한 시각 데이터를 포함하여 멤버십 활동 분석에 유용함
* `is_restore_item`, `is_cx_by_restore`, `restore_dt` 컬럼을 통해 멤버십 복구 여부 및 복구 시점 확인 가능함
* 멤버십 첫 가입일자 (`first_create_dt`, `shop_first_create_dt`, `tot_first_create_dt`) 정보를 포함하여 멤버십 가입 패턴 분석에 활용 가능함

### 데이터 추출 및 생성 과정

1.  **주요 데이터 소스**:
    *   `we_mart.ods_fc_member`: 위버스샵 멤버십 정보 (현재 상태)
    *   `membership.member_history`: 위버스샵 멤버십 히스토리 정보
    *   `we_mart.ods_ws_order_sheet`: 위버스샵 주문 정보
    *   `we_mart.ods_ws_order_item`: 위버스샵 주문 상품 정보
    *   `we_mart.ods_fc_member_confirm_purchase_history`: 위버스샵 멤버십 구매 확정 히스토리 정보
    *   `we_mart.ods_fc_member_membership_history`: 위버스샵 멤버십 히스토리 정보
    *   `we_mart.ods_ws_user`: 위버스샵 사용자 정보
    *   `we_mart.ws_user_ctry_history`: 위버스샵 사용자 국가 히스토리 정보
    *   `membership.member_privacy_history`: 위버스샵 멤버십 개인정보 히스토리 정보
    *   `membership.membership`: 위버스샵 멤버십 상품 정보
    *   `we_mart.we_artist`: 위버스샵 아티스트 정보
    *   `we_meta.we_country`: 국가 정보
2.  **데이터 전처리**:
    *   `we_mart.ods_fc_member`와 `membership.member_history` 테이블을 `union all` 연산으로 통합하여 멤버십 히스토리 정보를 생성
    *   `membership.member_history` 테이블에서 `lag` 함수를 활용하여 멤버십 복구 이력을 추출
    *   멤버십 만료 시점을 `expired_at` 컬럼에 저장하며, 다음 멤버십 가입 시점을 고려하여 만료 시점을 조정
    *   `lead` 함수를 활용하여 다음 멤버십 가입 시점을 확인하고, 멤버십 만료 시점을 조정
    *   `we_mart.ods_ws_user` 테이블에서 `row_number` 함수를 활용하여 가장 최신 사용자 정보를 추출
    *   `we_mart.ws_user_ctry_history` 테이블에서 `row_number` 함수를 활용하여 가장 최신 국가 정보를 추출
    *   `membership.member_privacy_history` 테이블에서 `lead` 함수를 활용하여 가장 최신 개인정보 정보를 추출
3.  **데이터 통합**:
    *   위버스샵 멤버십 히스토리 정보, 주문 정보, 사용자 정보, 국가 정보, 개인정보 정보 등을 조인하여 최종 데이터셋을 생성
4.  **최종 테이블 생성**:
    *   최종 데이터셋을 `we_mart.ws_fc_user_history` 테이블에 저장

### 테이블 활용 가이드

*   **주요 활용**:
    *   위버스샵 멤버십 가입/구매 이력 분석
    *   멤버십 만료 원인 분석
    *   멤버십 구매 패턴 분석
    *   멤버십 가입/구매 시점 기반 마케팅 전략 수립
*   **조인 시 유의사항**:
    *   `we_mart.ws_fc_user_history` 테이블은 상세 레벨 데이터를 담고 있으므로, 다른 테이블과 조인 시 성능 저하 가능성 고려
    *   `we_member_id`, `fc_id`, `fc_num`, `ord_sheet_num` 컬럼을 활용하여 다른 테이블과 조인

### 추가 정보

*   `we_mart.ws_fc_user_history` 테이블은 `part_art_id`와 `part_date` 컬럼을 파티션 키로 사용하여 데이터를 분할 저장
*   `run_timestamp` 컬럼은 데이터 적재 시간을 나타냄
*   `auth_ctry_code`, `auth_ctry_name` 컬럼은 배열 형태로 저장되어, 사용자의 전화번호 인증 국가 코드와 국가명을 다중으로 저장 가능

</answer>

## DOWNSTREAM TABLE INFO GEN

## HOT_TO_USE GEN

### Setup Documents

In [1]:
import pickle
import os
from configurations import *
def load_dictionary(filepath):
    with open(filepath, 'rb') as file:
        loaded_data = pickle.load(file)
    return loaded_data

_dataset_dict = load_dictionary(os.path.join(REQ_DIR, '_dataset_dict.pkl'))
dataset = sorted(_dataset_dict['data'], key=lambda x: x['issue_id'], reverse= True)
# for i, data in  enumerate(dataset):
#     print(i, data['source_code_lang'], data['issue_id'], data['issue_title'])

True

In [6]:
from langchain_core.documents import Document
from databricks_connector import DatabricksConnector, NOTEBOOK_PREFIX_PY, NOTEBOOK_PREFIX_SQL
from github_repo_connector import GithubConnector
import json

gc = GithubConnector(github_token=os.environ['GITHUB_TOKEN'], repo_name='databricks', branch='main', owner='benxcorp')

docs = []
for issue in sorted(os.listdir(REQ_DIR), reverse=True):
    if issue.startswith('DATA') == False:
        continue
    
    with open(os.path.join(REQ_DIR, issue)) as f:
        data = json.load(f)
    
    code_block = DatabricksConnector.get_formatted_blocks(data['source_code'], data['source_code_lang'])
    print(f"{data['issue_id']}[{data['source_code_lang']}]: {len(code_block)}, {code_block}")

    if issue.startswith('DATA-6001'):
        break    

    code_df = GithubConnector.to_df(code_blocks=code_block)

    docs.append(Document(
        page_content = df2str(code_df),
        metadata = {
            'issue_id': data['issue_id'] , 
            'issue_title': data['issue_title'] , 
            'request': data['request'] ,
            'file_path': os.path.join(REQ_DIR, issue)
        }
    ))

github.com:benxcorp/databricks URL에서
 * branch              main       -> FETCH_HEAD

이미 업데이트 상태입니다.
DATA-6405[PYTHON]: 2, {1: ('sql', None, 'code', ' select a._c0, b.goods_name\n from csv.`/Volumes/wev_prod/test/temp_file_upload/data-6405.csv` a\n left join wev_prod.we_mart.ws_order b on a._c0 = b.ord_sheet_num'), 2: ('sql', None, 'code', ' select distinct a.*, date(b.pay_dt) as pay_date, date(b.deliv_completed_dt) as delivery_completed_date\n from csv.`/Volumes/wev_prod/test/temp_file_upload/data-6407.csv` a\n left join wev_prod.we_mart.ws_order b on a._c0 = b.ord_sheet_number')}
DATA-6403[SQL]: 12, {1: ('sql', None, 'code', "create or replace temp view df as\nselect *\n, sum(case when row_number() over(partition by we_member_id, shop order by key_date) = 1 then 1 end) over(partition by we_member_id) as num_shop\n, sum(case when row_number() over(partition by we_member_id, we_art_id order by key_date) = 1 then 1 end) over(partition by we_member_id) as num_art\n, sum(case when row_number() over(partition by we_member_id, shop, goods_upr_cat_name order by key_date) = 1 then 1 end) over(partition by we_member_id, goods_upr_cat_name) as num_shop_cat\n, sum(case when row_number() over(partition by we_member_id, we_art_id, goods_upr_cat_name order by key_date) = 1 then 1 end) over(partition by we_member_id, goods_upr_cat_name) as num_art_cat\nfrom wev_prod.we_mart.we_order\nwhere product_source = 'WS' and is_pay = 1\nand key_date between '2023-08-01' and '2024-08-31'"), 2: ('sql', None, 'code', "select * from wev_prod.tableau.view_rls_user where email = 'thguswl0208@gmail.com'"), 3: ('sql', None, 'code', 'select count(distinct we_member_id), sum(pay_amt_krw) from df'), 4: ('sql', None, 'code', 'select num_shop, shop, count(distinct we_member_id), sum(pay_amt_krw)\nfrom (\n  select num_shop, we_member_id, collect_set(shop) as shop, sum(pay_amt_krw) as pay_amt_krw\n  from df\n  group by 1,2\n)\ngroup by 1,2'), 5: ('sql', None, 'code', 'select num_art, array_sort(artist), count(distinct we_member_id), sum(pay_amt_krw)\nfrom (\n  select num_art, we_member_id, collect_set(we_art_name) as artist, sum(pay_amt_krw) as pay_amt_krw\n  from df\n  group by 1,2\n)\ngroup by 1,2'), 6: ('sql', None, 'code', 'select num_art, count(distinct we_member_id), sum(pay_amt_krw)\nfrom df\ngroup by 1'), 7: ('sql', None, 'code', 'select b.ctry_name, count(distinct we_member_id), sum(pay_amt_krw)\nfrom df a\nleft join wev_prod.we_meta.we_country b on a.ship_ctry_code = b.ctry_code\nwhere num_shop > 1\ngroup by 1'), 8: ('sql', None, 'code', 'select b.ctry_name, count(distinct we_member_id), sum(pay_amt_krw)\nfrom df a\nleft join wev_prod.we_meta.we_country b on a.ship_ctry_code = b.ctry_code\nwhere num_art > 1\ngroup by 1'), 9: ('sql', None, 'code', 'select count(distinct we_member_id), sum(pay_amt_krw)\nfrom df\nwhere num_shop > 1 and num_shop_cat > 1'), 10: ('sql', None, 'code', 'select goods_upr_cat_name, count(distinct we_member_id), sum(pay_amt_krw)\nfrom df\nwhere num_shop > 1 and num_shop_cat > 1\ngroup by 1'), 11: ('sql', None, 'code', 'select count(distinct we_member_id), sum(pay_amt_krw)\nfrom df\nwhere num_art > 1 and num_art_cat > 1'), 12: ('sql', None, 'code', 'select goods_upr_cat_name, count(distinct we_member_id), sum(pay_amt_krw)\nfrom df\nwhere num_art > 1 and num_art_cat > 1\ngroup by 1')}
DATA-6396[PYTHON]: 2, {1: ('sql', None, 'code', ' select * from wev_prod.we_mart.ws_goods_stock\n where sale_id = 27383'), 2: ('sql', None, 'code', "\n -- 멤버십 회원명\n\n -- 멤버십 회원번호\n\n -- 이메일 주소\n\n -- 이용 시작일(멤버십 가입일)\n\n -- 이용 종료일(멤버십 만료일)\n\n select we_member_id, user_id, fc_num, start_dt, expire_dt, create_dt, fc_id, fc_status\n from wev_prod.we_mart.ws_fc_user_update\n where we_art_id = 1669\n and fc_status != 'DEACTIVATED' ")}
DATA-6391[SQL]: 2, {1: ('sql', None, 'code', "select we_member_id, ord_sheet_number, sale_id, goods_name, ord_item_qty\nfrom wev_prod.we_mart.ws_order\nwhere is_pay = 1\nand is_cx = 0\nand sale_id in (28214, 28215, 28216)\nand shop = 'GL'"), 2: ('sql', None, 'code', '')}
DATA-6389[SQL]: 2, {1: ('sql', None, 'code', "select we_member_id, ord_sheet_number, sale_id, goods_name, pay_dt, ord_status\nfrom wev_prod.we_mart.ws_order\nwhere is_pay = 1\nand is_cx = 0\nand sale_id in (28214, 28215, 28216)\nand shop = 'GL'"), 2: ('sql', None, 'code', '')}
DATA-6382[SQL]: 3, {1: ('sql', None, 'code', "select distinct media_type\nfrom wev_prod.we_mart.wv_media\nwhere part_date = '2024-09-08'"), 2: ('sql', None, 'code', 'select comm_id, we_art_name, section_type, media_type, post_id, media_name, video_expose_status, media_cre_dt, media_rel_dt, media_upd_dt, is_pitem as is_free, media_dur as `run_time(sec)`\n, media_cat_ids\nfrom wev_prod.we_mart.wv_media\nwhere part_date = \'2024-09-08\'\nand section_type in ("MEDIA", \'LIVE\')\nand media_type in ("VOD", "LIVE")\nand video_expose_status = \'EXPOSED\'\nand is_fc_only = 0\nand is_pitem = 0\nand media_dur > 119'), 3: ('sql', None, 'code', 'select *\nfrom (\n  select comm_id, we_art_name, media_type, post_id, media_name, video_expose_status, media_cre_dt, media_rel_dt, media_upd_dt, is_pitem as is_free, media_dur as `run_time(sec)`\n, media_cat_ids\nfrom wev_prod.we_mart.wv_media\nwhere part_date = \'2024-09-08\'\nand section_type in ("MEDIA", \'LIVE\')\nand media_type in ("VOD", "LIVE")\nand video_expose_status = \'EXPOSED\'\nand is_fc_only = 0\nand is_pitem = 0\nand media_dur > 119\n)\nwhere size(media_cat_ids) > 1')}
DATA-6379[SQL]: 6, {1: ('sql', None, 'code', 'select *\nfrom wev_prod.we_mart.we_artist\nwhere is_hybe_art = 1'), 2: ('sql', None, 'code', 'select distinct we_art_id, we_art_name\nfrom wev_prod.we_mart.ws_order\nwhere sap_code in (\n  "TTEC21JOS001NN0", \n  "ENFA22JOS900NN0", \n  "FRFA23JOS900NN0", \n  "SVFA23JOS900NN0", \n  "LFFA23JOS900NN0", \n  "TTNN23JOS901NN0", \n  "TXTNN24JOS900NN0", \n  "SVTNN24JOS901NN0", \n  "ATNN22JOS901NN0", \n  "BNDNN24JOS900NN0", \n  "BNDNN24JOS902NN0", \n  "BTFA20JOA901NN0", \n  "ENHNO24JOS901NN0", \n  "ENHNO24JOA903NN0"\n)\norder by 1'), 3: ('sql', None, 'code', 'create or replace temp view sales as \nselect *\n, case when upper(goods_name) rlike r\'(KEYRING)|(COVER)|(CASE)|(POUCH)|(BAG)|(DECO)|(STICKER)|(BAND)|(RING)|(PEN)|(SET)|(MINI)|(STRAP)|(ACCESSORY)|(PARTS)|(BATTERY)\' then \'LIGHT_STICK_ACC\' else "LIGHT_STICK" end as goods_type\nfrom wev_prod.we_mart.ws_order\nwhere sap_code in (\n  "TTEC21JOS001NN0", \n  "ENFA22JOS900NN0", \n  "FRFA23JOS900NN0", \n  "SVFA23JOS900NN0", \n  "LFFA23JOS900NN0", \n  "TTNN23JOS901NN0", \n  "TXTNN24JOS900NN0", \n  "SVTNN24JOS901NN0", \n  "ATNN22JOS901NN0", \n  "BNDNN24JOS900NN0", \n  "BNDNN24JOS902NN0", \n  "BTFA20JOA901NN0", \n  "ENHNO24JOS901NN0", \n  "ENHNO24JOA903NN0"\n)'), 4: ('sql', None, 'code', 'select *\nfrom (\n  select date_format(pay_dt, \'yyyy-MM\') as yearmonth\n  , we_art_name\n  , ctry_code\n  , count(distinct we_member_id) as uu\n  from sales\n  where pay_dt between \'2019-12-01\' and \'2024-08-31\'\n  and is_pay = 1 and is_cx = 0\n  group by 1, 2, 3\n  order by 1, 2, 3\n)\npivot (\n  sum(uu)\n  for we_art_name in (\n    "TXT" `TXT`\n  , "BTS" `BTS`\n  , "SEVENTEEN" `SEVENTEEN`\n  , "ENHYPEN" `ENHYPEN`\n  , "FROMIS_9" `FROMIS_9`\n  , "LE SSERAFIM" `LE SSERAFIM`\n  , "&TEAM" `&TEAM`\n  , "BOYNEXTDOOR" `BOYNEXTDOOR`\n  , "WEVERSE CON FESTIVAL" `WEVERSE CON FESTIVAL`\n  )\n)\norder by 1, 2'), 5: ('sql', None, 'code', 'select *\nfrom (\n  select date_format(key_date, \'yyyy-MM\') as yearmonth\n      , we_art_name\n      , nvl(upper(LEFT(ctry, 2)), \'None\') as ctry\n      , sum(cnt_usr_m) as mau\n  from  wev_prod.we_mart.stats_we_d_visit_new\n  where service_type = \'WV\'\n    and part_month <= \'2024-08-01\'\n    and part_month >= \'2023-12-01\'\n    and we_art_id in (1, 2, 4, 5, 36, 46, 56, 102, 143)\n    group by 1, 2, 3\n    order by 1, 2, 3\n)\npivot (\n  sum(mau)\n  for we_art_name in (\n    "TXT" `TXT`\n  , "BTS" `BTS`\n  , "SEVENTEEN" `SEVENTEEN`\n  , "ENHYPEN" `ENHYPEN`\n  , "FROMIS_9" `FROMIS_9`\n  , "LE SSERAFIM" `LE SSERAFIM`\n  , "&TEAM" `&TEAM`\n  , "BOYNEXTDOOR" `BOYNEXTDOOR`\n  , "WEVERSE CON FESTIVAL" `WEVERSE CON FESTIVAL`\n  )\n)\norder by 1, 2'), 6: ('sql', None, 'code', 'select *\nfrom (\n  select date_format(key_date, \'yyyy-MM\') as yearmonth\n      , we_art_name\n      , os\n      , sum(cnt_usr_m) as mau\n  from  wev_prod.we_mart.stats_we_d_visit_new\n  where service_type = \'WV\'\n    and part_month <= \'2024-08-01\'\n    and we_art_id in (1, 2, 4, 5, 36, 46, 56, 102, 143)\n    group by 1, 2, 3\n    order by 1, 2, 3\n)\npivot (\n  sum(mau)\n  for we_art_name in (\n    "TXT" `TXT`\n  , "BTS" `BTS`\n  , "SEVENTEEN" `SEVENTEEN`\n  , "ENHYPEN" `ENHYPEN`\n  , "FROMIS_9" `FROMIS_9`\n  , "LE SSERAFIM" `LE SSERAFIM`\n  , "&TEAM" `&TEAM`\n  , "BOYNEXTDOOR" `BOYNEXTDOOR`\n  )\n)\norder by 1, 2')}
DATA-6378[SQL]: 13, {1: ('sql', None, 'code', 'select *\nfrom wev_prod.we_mart.ws_order\nwhere is_pay = 1\nand is_cx = 0'), 2: ('sql', None, 'code', 'select *\nfrom wev_prod.we_mart.ws_order\nwhere ws_user_id = 3615275'), 3: ('sql', None, 'code', 'select *\nfrom wev_prod.weverseshop.order_item_history '), 4: ('sql', None, 'code', "create or replace table wev_prod.test.skjh_order_item_history\nselect *\nfrom wev_prod.weverseshop.order_item_history \nwhere 1=1\nand shop = 'US'\nand date(created_at) between '2023-07-01' and '2024-08-31'"), 5: ('sql', None, 'code', 'desc we_mart.ws_order'), 6: ('sql', None, 'code', "select * \nfrom wev_prod.test.skjh_order_item_history\nwhere status = 'EXCHANGE_REQUESTED'"), 7: ('sql', None, 'code', "select * \nfrom wev_prod.test.skjh_order_item_history\nwhere status = 'EXCHANGE_ACCEPTED'"), 8: ('sql', None, 'code', "select * \nfrom wev_prod.test.skjh_order_item_history\nwhere status = 'EXCHANGE_COMPLETED'"), 9: ('sql', None, 'code', 'select status, count(*)\nfrom wev_prod.test.skjh_order_item_history\ngroup by 1'), 10: ('sql', None, 'code', "-- 1. 교환완료\nselect distinct a.we_member_id\n, a.ord_sheet_number\n, a.ord_sheet_id\n, b.sale_id\n, b.goods_name\n, b.quantity\n, b.sale_price\n-- , case when c.status = 'EXCHANGE_ACCEPTED_NO_RETRIEVE' then 0 else 1 end as return_yn\n, b.created_at as exchange_requested_at -- 교환신청시간\n-- , c.created_at as exchange_accepted_at -- 교환승인시간\n-- , d.created_at as exchange_returned_at -- 교환회수완료시간\n, e.created_at as exchange_completed_at -- 교환완료시간\n, b.exchange_cnt \n, b.updated_reason -- 제품교환사유\nfrom(\n      select *\n      from we_mart.ws_order\n      where 1=1\n      and shop = 'US'\n      and ord_status = 'EXCHANGE_COMPLETED'\n      and date(ord_upd_dt) between '2024-07-01' and '2024-08-31'\n    ) a left join\n    (\n      select order_sheet_id, sale_id, goods_name, quantity, sale_price, count(distinct created_at) as exchange_cnt, min(created_at) as created_at, collect_set(updated_reason) as updated_reason\n      from wev_prod.test.skjh_order_item_history\n      where status = 'EXCHANGE_REQUESTED' -- 교환신청\n      group by 1,2,3,4,5\n    ) b on a.ord_sheet_id = b.order_sheet_id left join\n    -- (\n    --   select * \n    --   from wev_prod.test.skjh_order_item_history\n    --   where status in ('EXCHANGE_ACCEPTED','EXCHANGE_ACCEPTED_NO_RETRIEVE') -- 교환신청 접수완료\n    -- ) c on a.ord_sheet_id = c.order_sheet_id left join\n    -- (\n    --   select * \n    --   from wev_prod.test.skjh_order_item_history\n    --   where status = 'EXCHANGE_RETURNED' --교환회수완료\n    -- ) d on a.ord_sheet_id = d.order_sheet_id left join\n    (\n      select * \n      from wev_prod.test.skjh_order_item_history\n      where status = 'EXCHANGE_COMPLETED' --교환완료\n    ) e on a.ord_sheet_id = e.order_sheet_id"), 11: ('sql', None, 'code', "-- 교환완료, 신규 order_sheet_id 추가\nselect distinct a.we_member_id\n, a.ord_sheet_number\n, a.ord_sheet_id\n, b.sale_id\n, b.goods_name\n, b.quantity\n, b.sale_price\n-- , case when c.status = 'EXCHANGE_ACCEPTED_NO_RETRIEVE' then 0 else 1 end as return_yn\n, b.created_at as exchange_requested_at -- 교환신청시간\n-- , c.created_at as exchange_accepted_at -- 교환승인시간\n-- , d.created_at as exchange_returned_at -- 교환회수완료시간\n, e.created_at as exchange_completed_at -- 교환완료시간\n, b.exchange_cnt\n, b.updated_reason -- 제품교환사유\n, c.parent_order_sheet_id -- 교환시 신규 order_sheet_id\nfrom(\n      select *\n      from we_mart.ws_order\n      where 1=1\n      and shop = 'US'\n      and ord_status = 'EXCHANGE_COMPLETED'\n      and date(ord_upd_dt) between '2024-07-01' and '2024-08-31'\n    ) a left join\n    (\n      select order_sheet_id, sale_id, goods_name, quantity, sale_price, count(distinct created_at) as exchange_cnt, min(created_at) as created_at, collect_set(updated_reason) as updated_reason\n      from wev_prod.test.skjh_order_item_history\n      where status = 'EXCHANGE_REQUESTED' -- 교환신청\n      group by 1,2,3,4,5\n    ) b on a.ord_sheet_id = b.order_sheet_id left join\n    (\n      select *\n      from wev_prod.weverseshop.order_sheet\n    ) c on a.ord_sheet_id = c.parent_order_sheet_id left join\n    (\n      select * \n      from wev_prod.test.skjh_order_item_history\n      where status = 'EXCHANGE_COMPLETED' --교환완료\n    ) e on a.ord_sheet_id = e.order_sheet_id"), 12: ('sql', None, 'code', "-- 2. 반품(환불)완료\nselect distinct a.we_member_id\n, a.ord_sheet_number\n, a.ord_sheet_id\n, b.sale_id\n, b.goods_name\n, b.quantity\n, b.sale_price\n-- , case when c.status = 'RETURN_ACCEPTED_NO_RETRIEVE' then 0 else 1 end as return_yn\n, b.created_at as exchange_requested_at -- 반품/환불 신청시간\n-- , c.created_at as exchange_accepted_at -- 반품/환불 승인시간\n, d.created_at as exchange_completed_at -- 반품/환불 완료시간\n, b.updated_reason -- 사유\nfrom(\n      select *\n      from we_mart.ws_order\n      where 1=1\n      and shop = 'US'\n      and ord_status in ('REFUND_COMPLETED','REFUND_RESOLVED')\n      and date(ord_upd_dt) between '2024-07-01' and '2024-08-31'\n    ) a left join\n    (\n      select order_sheet_id, sale_id, goods_name, quantity, sale_price, min(created_at) as created_at, collect_set(updated_reason) as updated_reason\n      from wev_prod.test.skjh_order_item_history\n      where status in ('RETURN_REQUESTED','REFUND_REQUESTED','REFUND_REQUESTED_BY_DELIVERY_FAILED')\n      group by 1,2,3,4,5\n    ) b on a.ord_sheet_id = b.order_sheet_id left join\n    (\n      select * \n      from wev_prod.test.skjh_order_item_history\n      where status in ('RETURN_ACCEPTED','RETURN_ACCEPTED_NO_RETRIEVE','REFUND_ACCEPTED')\n    ) c on a.ord_sheet_id = c.order_sheet_id left join\n    (\n      select * \n      from wev_prod.test.skjh_order_item_history\n      where status in ('RETURN_COMPLETED','REFUND_COMPLETED','REFUND_RESOLVED')\n      and canceled_date is not null\n    ) d on a.ord_sheet_id = d.order_sheet_id\nwhere b.sale_id is not null"), 13: ('sql', None, 'code', "-- 반품(환불)완료, 신규 order_sheet_id 추가\nselect distinct a.we_member_id\n, a.ord_sheet_number\n, a.ord_sheet_id\n, b.sale_id\n, b.goods_name\n, b.quantity\n, b.sale_price\n-- , case when c.status = 'RETURN_ACCEPTED_NO_RETRIEVE' then 0 else 1 end as return_yn\n, b.created_at as exchange_requested_at -- 반품/환불 신청시간\n-- , c.created_at as exchange_accepted_at -- 반품/환불 승인시간\n, d.created_at as exchange_completed_at -- 반품/환불 완료시간\n, b.updated_reason -- 사유\n, f.parent_order_sheet_id\nfrom(\n      select *\n      from we_mart.ws_order\n      where 1=1\n      and shop = 'US'\n      and ord_status in ('REFUND_COMPLETED','REFUND_RESOLVED')\n      and date(ord_upd_dt) between '2024-07-01' and '2024-08-31'\n    ) a left join\n    (\n      select order_sheet_id, sale_id, goods_name, quantity, sale_price, min(created_at) as created_at, collect_set(updated_reason) as updated_reason\n      from wev_prod.test.skjh_order_item_history\n      where status in ('RETURN_REQUESTED','REFUND_REQUESTED','REFUND_REQUESTED_BY_DELIVERY_FAILED')\n      group by 1,2,3,4,5\n    ) b on a.ord_sheet_id = b.order_sheet_id left join\n    (\n      select * \n      from wev_prod.test.skjh_order_item_history\n      where status in ('RETURN_ACCEPTED','RETURN_ACCEPTED_NO_RETRIEVE','REFUND_ACCEPTED')\n    ) c on a.ord_sheet_id = c.order_sheet_id left join\n    (\n      select * \n      from wev_prod.test.skjh_order_item_history\n      where status in ('RETURN_COMPLETED','REFUND_COMPLETED','REFUND_RESOLVED')\n      and canceled_date is not null\n    ) d on a.ord_sheet_id = d.order_sheet_id left join\n    (\n      select *\n      from wev_prod.weverseshop.order_sheet\n    ) f on a.ord_sheet_id = f.parent_order_sheet_id \nwhere b.sale_id is not null")}

#### 추출들 중 예시가 있는 건들만 필터링(코사인 유사도 기반)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def documents_to_dataframe(documents):
    data = []
    for doc in documents:
        row = {'page_content': doc.page_content}
        row.update(doc.metadata)
        data.append(row)
    
    return pd.DataFrame(data)

def get_top_n_docs(df:pd.DataFrame, target_column:str, query:str, N:int = 5) -> pd.DataFrame:
    # TF-IDF 벡터화
    vectorizer = TfidfVectorizer()
    tfidf_matrix = vectorizer.fit_transform(df[target_column])
    query_vec = vectorizer.transform([query])

    # 코사인 유사도 계산
    cosine_similarities = cosine_similarity(query_vec, tfidf_matrix).flatten()
    positive_indices = np.where(cosine_similarities > 0)[0]
    sorted_indices = positive_indices[np.argsort(cosine_similarities[positive_indices])[::-1]]
    
    # 상위 5개 또는 양수 유사도를 가진 모든 결과 선택 (둘 중 작은 값)
    top_n = min(N, len(sorted_indices))
    top_n_indices = sorted_indices[:top_n]

    top_n = df.iloc[top_n_indices]
    return top_n
    
codes_df = documents_to_dataframe(docs)
top_n_extracts = get_top_n_docs(codes_df, 'page_content', TABLE_NAME)
top_n_extracts
ext_samples = ""
for i, r in top_n_extracts.iterrows():
    ext_samples += f"\n\n=={r['issue_id']}==\n\n"
    ext_samples += r['page_content']

print(ext_samples)

==DATA-6263==

cell_type : sql
role: code
code: select user_status, part_date, create_dt, expire_dt, ord_status, fc_status, *
from wev_prod.we_mart.ws_fc_user_history
where 1=1
-- and we_art_id = 87
-- and part_date = '2024-04-29'
and part_date between '2024-04-26'and '2024-05-02'
-- and ord_status = 'DIGITAL_TICKET_EXPIRED'
and we_member_id = 34800443

cell_type : sql
role: code
code: select part_date, we_member_id, we_art_name, count(1)
from wev_prod.we_mart.ws_fc_user_history
where 1=1
group by 1,2,3
order by 4 desc
-- and we_art_id = 87
-- and part_date = '2024-01-25'
-- and hour(end_dt) != 23
-- and part_date between '2024-04-29'and '2024-05-05'
-- and ord_status = 'DIGITAL_TICKET_EXPIRED'
-- and we_member_id = 17526332

cell_type : sql
role: code
code: select fc_status, * from wev_prod.we_mart.ws_fc_user_history
where we_member_id = 55013894
and part_date = '2024-03-28'

cell_type : sql
role: code
code: select fc_status, * from wev_prod.we_mart.ws_fc_user_history
where user_id = 10201619
and part_date = '2024-03-21'

cell_type : sql
role: code
code: select *
from wev_prod.we_mart.ws_fc_user_history
where 1=1
-- and we_art_id = 87
-- and part_date = '2024-01-25'
and hour(end_dt) != 23
-- and part_date between '2024-04-29'and '2024-05-05'
-- and ord_status = 'DIGITAL_TICKET_EXPIRED'
-- and we_member_id = 17526332

cell_type : sql
role: code
code: select user_status, part_date, create_dt, expire_dt, end_dt, ord_status, fc_status, *
from wev_prod.we_mart.ws_fc_user_history
where 1=1
-- and we_art_id = 87
and part_date = '2024-04-25'
-- and part_date between '2024-04-29'and '2024-05-05'
and ord_status = 'DIGITAL_TICKET_EXPIRED'
-- and we_member_id = 17526332

cell_type : sql
role: code
code: select *
from wev_prod.we_mart.ws_fc_user_history
where we_art_id = 87
and part_date = '2023-12-10'
and user_status = 'DEACTIVATED'

cell_type : sql
role: code
code: select distinct we_member_id, user_id, fc_num
from wev_prod.we_mart.ws_fc_user_update
where we_art_id = 87
and create_dt >='2023-08-24 14:00:00'
and create_dt < '2024-08-07'
and fc_name = 'FUSE 2ND MEMBERSHIP (GL)'
and fc_status != 'DEACTIVATED'

cell_type : sql
role: code
code: select distinct fc_id
from wev_prod.we_mart.ws_fc_user_by_ord
where we_art_id = 73



==DATA-6208==

cell_type : sql
role: code
code:  select * from wev_prod.membership.membership
 where membership_code in ('WINNER_GL_V3_NORMAL','WINNER_JP_V3_NORMAL')

cell_type : sql
role: code
code:  select * from wev_prod.we_mart.ws_goods_stock where part_date = '2024-08-04' and sale_id in (21746,21770)

cell_type : sql
cell_title : TREASURE
role: code
code:  select distinct a.we_member_id
 from wev_prod.we_mart.ws_fc_user_history a
 where part_date = '2024-07-31'
   and fc_id in (187,216)
   and date(create_dt) <= part_date
   and date(expire_dt) > part_date
   and date(end_dt) != part_date
   and a.ord_status in ('PURCHASE_CONFIRM', 'TRANSFERRED')

cell_type : sql
cell_title : 재추출
role: code
code:  select distinct we_member_id
 from wev_prod.we_mart.ws_fc_user_history
 where part_date = '2024-07-31'
   and we_art_id = 20
   and date(create_dt) <= part_date
   and date(expire_dt) > part_date
   and date(end_dt) != part_date
   -- and ord_status in ('PURCHASE_CONFIRM', 'TRANSFERRED')

cell_type : sql
cell_title : BLACKPINK
role: code
code:  select distinct we_member_id
 from wev_prod.we_mart.ws_fc_user_history
 where part_date = '2024-07-31'
   and fc_id in (169,181)
   and date(create_dt) <= part_date
   and date(expire_dt) > part_date
   and date(end_dt) != part_date
   and ord_status in ('PURCHASE_CONFIRM', 'TRANSFERRED')

cell_type : sql
cell_title : 재추출
role: code
code:  select distinct we_member_id
 from wev_prod.we_mart.ws_fc_user_history
 where part_date = '2024-07-31'
   and we_art_id = 32
   and date(create_dt) <= part_date
   and date(expire_dt) > part_date
   and date(end_dt) != part_date
   -- and ord_status in ('PURCHASE_CONFIRM', 'TRANSFERRED')

cell_type : sql
cell_title : WINNER
role: code
code:  select distinct we_member_id
 from wev_prod.we_mart.ws_fc_user_history
 where part_date = '2024-08-07'
   and we_art_id = 38
   and date(create_dt) <= part_date
   and date(expire_dt) > part_date
   and date(end_dt) != part_date
   -- and ord_status in ('PURCHASE_CONFIRM', 'TRANSFERRED')



==DATA-6188==

cell_type : sql
cell_title : base_7/8 만료 유저
role: code
code: lect count(distinct we_member_id) as user_cnt
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) = '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )

cell_type : sql
cell_title : base_6/27~7/8 만료 유저
role: code
code: lect count(distinct we_member_id) as user_cnt
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) >= '2024-06-24' and date(expire_dt) <= '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )

cell_type : sql
cell_title : base_7/8 유예만료 유저
role: code
code: lect count(distinct we_member_id) as user_cnt
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) + interval 30 day = '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 유예기간 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )

cell_type : sql
cell_title : base_6/27~7/8 유예만료 유저
role: code
code: lect count(distinct we_member_id) as user_cnt
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) + interval 30 day >= '2024-06-24' and date(expire_dt) + interval 30 day <= '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 유예기간 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )

cell_type : sql
cell_title : 7/8 만료 유저_커뮤니티 가입
role: code
code: with base
  (
  select *
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) = '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )
)

select count(distinct a.we_member_id)
from  base a
inner join
(
  select *
  from wev_prod.we_mart.wv_comm_user
  where part_date = '2024-07-18'
  and date(comm_user_cre_dt) >= '2024-07-08'
  and we_art_id = 46
)b on a.we_member_id = b.we_member_id

cell_type : sql
cell_title : 24/6/27~7/8 만료 유저_커뮤니티 가입
role: code
code: with base
  (
  select *
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) >= '2024-06-24' and date(expire_dt) <= '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )
)

select count(distinct a.we_member_id)
from  base a
inner join
(
  select *
  from wev_prod.we_mart.wv_comm_user
  where part_date = '2024-07-18'
  and date(comm_user_cre_dt) >= '2024-07-08'
  and we_art_id = 46
)b on a.we_member_id = b.we_member_id

cell_type : sql
cell_title : 7/8 만료 유저_앱방문/커뮤니티방문
role: code
code: with base
  (
  select *
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) = '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )
)


select count(distinct a.we_member_id) as user_cnt
from  base a
inner join
(
  select distinct we_member_id
  from wev_prod.we_mart.wv_sess_daily
  where key_date >= '2024-04-08'
  -- and we_art_id = 46
)b on a.we_member_id = b.we_member_id

cell_type : sql
cell_title : 24/6/27/~7/8 만료 유저_앱방문/커뮤니티방문
role: code
code: with base
  (
  select *
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) >= '2024-06-24' and date(expire_dt) <= '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )
)


select count(distinct a.we_member_id) as user_cnt
from  base a
inner join
(
  select distinct we_member_id
  from wev_prod.we_mart.wv_sess_daily
  where key_date >= '2024-04-08'
  and we_art_id = 46
)b on a.we_member_id = b.we_member_id

cell_type : sql
cell_title : 7/8 유예기간 만료 유저_커뮤니티 가입
role: code
code: with base
(
  select *
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) + interval 30 day = '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 유예기간 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )
)

select *
from  base a
inner join
(
  select *
  from wev_prod.we_mart.wv_comm_user
  where part_date = '2024-07-18'
  and date(comm_user_cre_dt) >= '2024-07-08'
  and we_art_id = 46
)b on a.we_member_id = b.we_member_id

cell_type : sql
cell_title : 24/6/27~7/8 유예 만료 유저_커뮤니티 가입
role: code
code: with base
(
  select *
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) + interval 30 day >= '2024-06-24' and date(expire_dt) + interval 30 day <= '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 유예기간 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )
)

select *
from  base a
inner join
(
  select *
  from wev_prod.we_mart.wv_comm_user
  where part_date = '2024-07-18'
  and date(comm_user_cre_dt) >= '2024-07-08'
  and we_art_id = 46
)b on a.we_member_id = b.we_member_id

cell_type : sql
cell_title : 7/8 유예기간 만료 유저_앱방문/커뮤니티 방문
role: code
code: with base
(
  select *
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) + interval 30 day = '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 유예기간 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )
)


select count(distinct a.we_member_id) as user_cnt
from  base a
inner join
(
  select distinct we_member_id
  from wev_prod.we_mart.wv_sess_daily
  where key_date >= '2024-04-08'
  and we_art_id = 46
)b on a.we_member_id = b.we_member_id

cell_type : sql
cell_title : 24/6/27~7/8 유예기간 만료 유저_앱방문/커뮤니티 방문
role: code
code: with base
(
  select *
  from wev_prod.we_mart.ws_fc_user_history
  where we_art_id  = 46
  and date(expire_dt) + interval 30 day >= '2024-06-24' and date(expire_dt) + interval 30 day <= '2024-07-08'
  and shop = 'GL'
  and we_member_id not in
  ( -- 유예기간 만료 이후 재가입 한 유저 제외
    select distinct we_member_id
    from wev_prod.we_mart.ws_fc_user_update
    where we_art_id = 46
    and fc_status != 'DEACTIVATED'
    and shop = 'GL'
  )
)


select count(distinct a.we_member_id) as user_cnt
from  base a
inner join
(
  select distinct we_member_id
  from wev_prod.we_mart.wv_sess_daily
  where key_date >= '2024-04-08'
  and we_art_id = 46
)b on a.we_member_id = b.we_member_id

cell_type : sql
role: code
code: select max(key_date) from wev_prod.we_mart.ws_client_log_base



==DATA-6072==

cell_type : sql
cell_title : 데이터 추출용
role: code
code: select a.fc_num
    , a.we_member_id
    , date(a.first_create_dt) as first_create_date
    , date(a.create_dt) as create_date
    , d.sale_id
    , d.goods_name
    , date(d.ord_cre_dt) as ord_date
from
(
  select fc_num, fc_id, we_member_id, start_dt, first_create_dt, create_dt, expire_dt, user_id
  from wev_prod.we_mart.ws_fc_user_history
  where part_date = '2024-06-18'
    and fc_id in (40,45,53,116)
    and create_dt < '2024-06-19'
    and expire_dt >= '2024-06-19'
) a
left join
(
  select ord_cre_dt, sale_id, ws_user_id, goods_name
  from we_mart.ws_order
  where is_pay = 1
    and is_cx = 0
    and goods_cat = 'MERCHBOX'
) d on d.ws_user_id = a.user_id and a.create_dt < d.ord_cre_dt and d.ord_cre_dt < a.expire_d



==DATA-6179==

cell_type : sql
role: code
code: select * from wev_prod.we_mart.ws_goods_stock
where sale_id = 17007 and part_date = '2024-07-16'

cell_type : sql
role: code
code: -- 태블로 07-11 974명
select artist_code
      , membership_code
      --, type
      , membership_number -- 회원번호
      , started_at
      , ended_at
      , status
      , account_id
      , *
from wev_prod.we_mart.ods_fc_member
where part_date = '2024-07-11'
    and status <> 'DEACTIVATED'
    and membership_code like '%JP%'
    and artist_code = 'FROMIS9'
    and type = 'GENERAL'


cell_type : sql
role: code
code: -- 최종

select distinct a.fc_num
    , a.we_member_id
    , date(a.first_create_dt) as first_create_date
    , date(a.create_dt) as create_date
    , date(expire_dt) as expire_dt
    , d.sale_id
    , d.goods_name
    , date(d.ord_cre_dt) as ord_date
from
(
  select fc_num, fc_id, we_member_id, start_dt, first_create_dt, create_dt, expire_dt, user_id
  from wev_prod.we_mart.ws_fc_user_history
  where part_date = '2024-07-11'
    and fc_id in (68, 120) -- jp fc only
    and date(expire_dt) > '2024-07-11'
) a
left join
(
  select ord_cre_dt, sale_id, ws_user_id, goods_name
  from we_mart.ws_order
  where is_pay = 1
    and is_cx = 0
    and goods_cat = 'KIT'
    and we_art_id = 36
) d on d.ws_user_id = a.user_id and a.create_dt < d.ord_cre_dt and d.ord_cre_dt < a.expire_dt
where d.sale_id is not null

cell_type : sql
role: code
code: select fc_type, fc_num, fc_id, we_member_id, start_dt, first_create_dt, create_dt, expire_dt, user_id
      , *
from wev_prod.we_mart.ws_fc_user_history
where part_date = '2024-07-11'
  and fc_id in (68, 120)
  --and create_dt < '2024-06-19'
  and date(expire_dt) > '2024-07-11'

cell_type : sql
role: code
code: --select ord_cre_dt, sale_id, ws_user_id, goods_name, goods_cat
select distinct goods_cat
  from we_mart.ws_order
  where is_pay = 1
    and is_cx = 0
    and sale_id = 16720
    --and goods_cat = 'KIT'
    and we_art_id = 36

cell_type : sql
role: code
code:

#### Downstream 테이블들 중 몇가지만 가져오기

In [13]:

ds_tables = gc.search_tables(target_table_name=TABLE_NAME)
ds_tables = ds_tables[
    (ds_tables['table_name'].str != TABLE_NAME + ".py") &
    (ds_tables['file_path'].str.split("/").str[-2].isin(["we_mart", "we_meta", "wi_view"]))
]

sampled_ds_tables = get_top_n_docs(ds_tables, target_column = "table_name", query = TABLE_NAME + ".py")
sampled_ds_tables
ds_tables_samples = ""
for i, r in sampled_ds_tables.iterrows():
    ds_tables_samples += f"\n\n=={r['table_name'].split(".")[0]}==\n\n"
    with open(os.path.join(REPO_DIR, r['file_path']), "rb") as f:
        source_code_cells = "".join([l.decode() for l in f.readlines()])
        source_code_lang = 'PYTHON' if source_code_cells.startswith(NOTEBOOK_PREFIX_PY) else "SQL"
        f.close()
    code_blocks = DatabricksConnector.get_formatted_blocks(
        source_code_cells=source_code_cells, 
        source_code_lang=source_code_lang
    )
    code_df = GithubConnector.to_df(code_blocks=code_block)

    ds_tables_samples += df2str(code_df)

print(ds_tables_samples)

==ws_fc_user_history==

cell_type : sql
role: code
code: select * from wev_prod.we_mart.we_artist where we_art_name rlike 'ENHY'

cell_type : md
role: description
content: ## 1. Sales Data of all products sold in Enhypen US Shop
> Time Period (KST): 01/01/23 - 05/31/24
> Please include columns: Goods Name, Option Name, Upper Category, Lower Category, Product Price, Units Sold, Total Sales (USD)
> Number of orders (for Average Order Value) and number of items in each order (for Average Basket Size)
> Number of new registrations / membership purchases
> Number of purchasers

cell_type : sql
role: code
code: select goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, sum(ord_item_qty) as `Units Sold`
, sum(ord_item_amt) as `Total Sales(USD)`
, count(distinct ord_sheet_number) as `# of orders`
, count(distinct we_member_id) as `# of purchasers`
, sum(ord_item_amt) / count(distinct ord_sheet_number) as `Avg order value`
, sum(ord_item_qty) / count(distinct ord_sheet_number) as `Avg basket size`
, count(distinct case when pay_seq = 1 then we_member_id end) as `# of new-purchasers`
, count(distinct case when is_fc = 1 then we_member_id end) as `# of member-purchasers`
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and date(pay_dt) between '2023-01-01' and '2024-05-31'
group by goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price

cell_type : md
role: description
content: ## 2. Sales Data of US Exclusive POD Pilot products sold in Enhypen US Shop
* (Baseball Jerseys, Throw, Tin Case + Sticker Set, Cushions, Reusable Cup)
* Sales IDs: 23891, 23889, 23890, 23892, 23888, 23882, 23879, 23894, 23899, 23886, 23878, 23880, 23869, 23875, 23877, 23896, 23872, 23876, 23870, 23893, 23898, 23887, 23883, 23881, 23885, 23884

> Time Period (KST): 03/28/24 - 04/07/24 and 05/04/24
> Please include columns: Goods Name, Option Name, Upper Category, Lower Category, Product Price, Units Sold, Total Sales (USD)
> Number of orders (for Average Order Value) and number of items in each order (for Average Basket Size)
> Number of new registrations / membership purchases
> Number of purchasers

cell_type : sql
role: code
code: select goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, sum(ord_item_qty) as `Units Sold`
, sum(ord_item_amt) as `Total Sales(USD)`
, count(distinct ord_sheet_number) as `# of orders`
, count(distinct we_member_id) as `# of purchasers`
, case when count(distinct ord_sheet_number)= count(distinct we_member_id) then 1 else 0 end
, sum(ord_item_amt) / count(distinct ord_sheet_number) as `Avg order value`
, sum(ord_item_qty) / count(distinct ord_sheet_number) as `Avg basket size`
, count(distinct case when pay_seq = 1 then we_member_id end) as `# of new-purchasers`
, count(distinct case when is_fc = 1 then we_member_id end) as `# of member-purchasers`
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and ( date(pay_dt) between '2024-03-28' and '2024-04-07' or date(pay_dt) = '2024-05-04' )
and sale_id in (23891, 23889, 23890, 23892, 23888, 23882, 23879, 23894, 23899, 23886, 23878, 23880, 23869, 23875, 23877, 23896, 23872, 23876, 23870, 23893, 23898, 23887, 23883, 23881, 23885, 23884)
group by goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price

cell_type : sql
role: code
code: -- Sheet #3
Time Period (KST): 01/01/23 - 05/31/24
Orders that contain MERCH and TOUR MERCH

cell_type : sql
role: code
code: select ord_sheet_number, date(pay_dt) as pay_date, goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, ord_item_qty as `Units Sold`
, ord_item_amt as `Total Sales(USD)`
, we_member_id as user_id
, case when pay_seq = 1 then 'true' else 'false' end as is_new_purchasers
, case when is_fc = 1 then 'true' else 'false' end as is_member_purchasers
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and date(pay_dt) between '2023-01-01' and '2024-05-31'
and goods_upr_cat_name in ('MERCH', 'TOUR MERCH')

cell_type : sql
role: code
code: -- Sheet #4
Time Period 03/28/24 - 04/07/24 and 05/04/24
Orders that contain FATE US PLUS TOUR, MEMBERSHIP, MEMBERSHIP KIT (편집됨)

cell_type : sql
role: code
code: select ord_sheet_number, date(pay_dt) as pay_date, goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, ord_item_qty as `Units Sold`
, ord_item_amt as `Total Sales(USD)`
, we_member_id as user_id
, case when pay_seq = 1 then 'true' else 'false' end as is_new_purchasers
, case when is_fc = 1 then 'true' else 'false' end as is_member_purchasers
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and ( date(pay_dt) between '2024-03-28' and '2024-04-07' or date(pay_dt) = '2024-05-04' )
and goods_upr_cat_name in ('FATE PLUS US TOUR', 'MEMBERSHIP', 'KIT')



==stats_ws_h_ord_product==

cell_type : sql
role: code
code: select * from wev_prod.we_mart.we_artist where we_art_name rlike 'ENHY'

cell_type : md
role: description
content: ## 1. Sales Data of all products sold in Enhypen US Shop
> Time Period (KST): 01/01/23 - 05/31/24
> Please include columns: Goods Name, Option Name, Upper Category, Lower Category, Product Price, Units Sold, Total Sales (USD)
> Number of orders (for Average Order Value) and number of items in each order (for Average Basket Size)
> Number of new registrations / membership purchases
> Number of purchasers

cell_type : sql
role: code
code: select goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, sum(ord_item_qty) as `Units Sold`
, sum(ord_item_amt) as `Total Sales(USD)`
, count(distinct ord_sheet_number) as `# of orders`
, count(distinct we_member_id) as `# of purchasers`
, sum(ord_item_amt) / count(distinct ord_sheet_number) as `Avg order value`
, sum(ord_item_qty) / count(distinct ord_sheet_number) as `Avg basket size`
, count(distinct case when pay_seq = 1 then we_member_id end) as `# of new-purchasers`
, count(distinct case when is_fc = 1 then we_member_id end) as `# of member-purchasers`
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and date(pay_dt) between '2023-01-01' and '2024-05-31'
group by goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price

cell_type : md
role: description
content: ## 2. Sales Data of US Exclusive POD Pilot products sold in Enhypen US Shop
* (Baseball Jerseys, Throw, Tin Case + Sticker Set, Cushions, Reusable Cup)
* Sales IDs: 23891, 23889, 23890, 23892, 23888, 23882, 23879, 23894, 23899, 23886, 23878, 23880, 23869, 23875, 23877, 23896, 23872, 23876, 23870, 23893, 23898, 23887, 23883, 23881, 23885, 23884

> Time Period (KST): 03/28/24 - 04/07/24 and 05/04/24
> Please include columns: Goods Name, Option Name, Upper Category, Lower Category, Product Price, Units Sold, Total Sales (USD)
> Number of orders (for Average Order Value) and number of items in each order (for Average Basket Size)
> Number of new registrations / membership purchases
> Number of purchasers

cell_type : sql
role: code
code: select goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, sum(ord_item_qty) as `Units Sold`
, sum(ord_item_amt) as `Total Sales(USD)`
, count(distinct ord_sheet_number) as `# of orders`
, count(distinct we_member_id) as `# of purchasers`
, case when count(distinct ord_sheet_number)= count(distinct we_member_id) then 1 else 0 end
, sum(ord_item_amt) / count(distinct ord_sheet_number) as `Avg order value`
, sum(ord_item_qty) / count(distinct ord_sheet_number) as `Avg basket size`
, count(distinct case when pay_seq = 1 then we_member_id end) as `# of new-purchasers`
, count(distinct case when is_fc = 1 then we_member_id end) as `# of member-purchasers`
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and ( date(pay_dt) between '2024-03-28' and '2024-04-07' or date(pay_dt) = '2024-05-04' )
and sale_id in (23891, 23889, 23890, 23892, 23888, 23882, 23879, 23894, 23899, 23886, 23878, 23880, 23869, 23875, 23877, 23896, 23872, 23876, 23870, 23893, 23898, 23887, 23883, 23881, 23885, 23884)
group by goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price

cell_type : sql
role: code
code: -- Sheet #3
Time Period (KST): 01/01/23 - 05/31/24
Orders that contain MERCH and TOUR MERCH

cell_type : sql
role: code
code: select ord_sheet_number, date(pay_dt) as pay_date, goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, ord_item_qty as `Units Sold`
, ord_item_amt as `Total Sales(USD)`
, we_member_id as user_id
, case when pay_seq = 1 then 'true' else 'false' end as is_new_purchasers
, case when is_fc = 1 then 'true' else 'false' end as is_member_purchasers
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and date(pay_dt) between '2023-01-01' and '2024-05-31'
and goods_upr_cat_name in ('MERCH', 'TOUR MERCH')

cell_type : sql
role: code
code: -- Sheet #4
Time Period 03/28/24 - 04/07/24 and 05/04/24
Orders that contain FATE US PLUS TOUR, MEMBERSHIP, MEMBERSHIP KIT (편집됨)

cell_type : sql
role: code
code: select ord_sheet_number, date(pay_dt) as pay_date, goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, ord_item_qty as `Units Sold`
, ord_item_amt as `Total Sales(USD)`
, we_member_id as user_id
, case when pay_seq = 1 then 'true' else 'false' end as is_new_purchasers
, case when is_fc = 1 then 'true' else 'false' end as is_member_purchasers
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and ( date(pay_dt) between '2024-03-28' and '2024-04-07' or date(pay_dt) = '2024-05-04' )
and goods_upr_cat_name in ('FATE PLUS US TOUR', 'MEMBERSHIP', 'KIT')



==stats_ws_d_fc_kit_pur_bts_fc==

cell_type : sql
role: code
code: select * from wev_prod.we_mart.we_artist where we_art_name rlike 'ENHY'

cell_type : md
role: description
content: ## 1. Sales Data of all products sold in Enhypen US Shop
> Time Period (KST): 01/01/23 - 05/31/24
> Please include columns: Goods Name, Option Name, Upper Category, Lower Category, Product Price, Units Sold, Total Sales (USD)
> Number of orders (for Average Order Value) and number of items in each order (for Average Basket Size)
> Number of new registrations / membership purchases
> Number of purchasers

cell_type : sql
role: code
code: select goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, sum(ord_item_qty) as `Units Sold`
, sum(ord_item_amt) as `Total Sales(USD)`
, count(distinct ord_sheet_number) as `# of orders`
, count(distinct we_member_id) as `# of purchasers`
, sum(ord_item_amt) / count(distinct ord_sheet_number) as `Avg order value`
, sum(ord_item_qty) / count(distinct ord_sheet_number) as `Avg basket size`
, count(distinct case when pay_seq = 1 then we_member_id end) as `# of new-purchasers`
, count(distinct case when is_fc = 1 then we_member_id end) as `# of member-purchasers`
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and date(pay_dt) between '2023-01-01' and '2024-05-31'
group by goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price

cell_type : md
role: description
content: ## 2. Sales Data of US Exclusive POD Pilot products sold in Enhypen US Shop
* (Baseball Jerseys, Throw, Tin Case + Sticker Set, Cushions, Reusable Cup)
* Sales IDs: 23891, 23889, 23890, 23892, 23888, 23882, 23879, 23894, 23899, 23886, 23878, 23880, 23869, 23875, 23877, 23896, 23872, 23876, 23870, 23893, 23898, 23887, 23883, 23881, 23885, 23884

> Time Period (KST): 03/28/24 - 04/07/24 and 05/04/24
> Please include columns: Goods Name, Option Name, Upper Category, Lower Category, Product Price, Units Sold, Total Sales (USD)
> Number of orders (for Average Order Value) and number of items in each order (for Average Basket Size)
> Number of new registrations / membership purchases
> Number of purchasers

cell_type : sql
role: code
code: select goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, sum(ord_item_qty) as `Units Sold`
, sum(ord_item_amt) as `Total Sales(USD)`
, count(distinct ord_sheet_number) as `# of orders`
, count(distinct we_member_id) as `# of purchasers`
, case when count(distinct ord_sheet_number)= count(distinct we_member_id) then 1 else 0 end
, sum(ord_item_amt) / count(distinct ord_sheet_number) as `Avg order value`
, sum(ord_item_qty) / count(distinct ord_sheet_number) as `Avg basket size`
, count(distinct case when pay_seq = 1 then we_member_id end) as `# of new-purchasers`
, count(distinct case when is_fc = 1 then we_member_id end) as `# of member-purchasers`
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and ( date(pay_dt) between '2024-03-28' and '2024-04-07' or date(pay_dt) = '2024-05-04' )
and sale_id in (23891, 23889, 23890, 23892, 23888, 23882, 23879, 23894, 23899, 23886, 23878, 23880, 23869, 23875, 23877, 23896, 23872, 23876, 23870, 23893, 23898, 23887, 23883, 23881, 23885, 23884)
group by goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price

cell_type : sql
role: code
code: -- Sheet #3
Time Period (KST): 01/01/23 - 05/31/24
Orders that contain MERCH and TOUR MERCH

cell_type : sql
role: code
code: select ord_sheet_number, date(pay_dt) as pay_date, goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, ord_item_qty as `Units Sold`
, ord_item_amt as `Total Sales(USD)`
, we_member_id as user_id
, case when pay_seq = 1 then 'true' else 'false' end as is_new_purchasers
, case when is_fc = 1 then 'true' else 'false' end as is_member_purchasers
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and date(pay_dt) between '2023-01-01' and '2024-05-31'
and goods_upr_cat_name in ('MERCH', 'TOUR MERCH')

cell_type : sql
role: code
code: -- Sheet #4
Time Period 03/28/24 - 04/07/24 and 05/04/24
Orders that contain FATE US PLUS TOUR, MEMBERSHIP, MEMBERSHIP KIT (편집됨)

cell_type : sql
role: code
code: select ord_sheet_number, date(pay_dt) as pay_date, goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, ord_item_qty as `Units Sold`
, ord_item_amt as `Total Sales(USD)`
, we_member_id as user_id
, case when pay_seq = 1 then 'true' else 'false' end as is_new_purchasers
, case when is_fc = 1 then 'true' else 'false' end as is_member_purchasers
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and ( date(pay_dt) between '2024-03-28' and '2024-04-07' or date(pay_dt) = '2024-05-04' )
and goods_upr_cat_name in ('FATE PLUS US TOUR', 'MEMBERSHIP', 'KIT')



==we_fan_apply==

cell_type : sql
role: code
code: select * from wev_prod.we_mart.we_artist where we_art_name rlike 'ENHY'

cell_type : md
role: description
content: ## 1. Sales Data of all products sold in Enhypen US Shop
> Time Period (KST): 01/01/23 - 05/31/24
> Please include columns: Goods Name, Option Name, Upper Category, Lower Category, Product Price, Units Sold, Total Sales (USD)
> Number of orders (for Average Order Value) and number of items in each order (for Average Basket Size)
> Number of new registrations / membership purchases
> Number of purchasers

cell_type : sql
role: code
code: select goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, sum(ord_item_qty) as `Units Sold`
, sum(ord_item_amt) as `Total Sales(USD)`
, count(distinct ord_sheet_number) as `# of orders`
, count(distinct we_member_id) as `# of purchasers`
, sum(ord_item_amt) / count(distinct ord_sheet_number) as `Avg order value`
, sum(ord_item_qty) / count(distinct ord_sheet_number) as `Avg basket size`
, count(distinct case when pay_seq = 1 then we_member_id end) as `# of new-purchasers`
, count(distinct case when is_fc = 1 then we_member_id end) as `# of member-purchasers`
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and date(pay_dt) between '2023-01-01' and '2024-05-31'
group by goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price

cell_type : md
role: description
content: ## 2. Sales Data of US Exclusive POD Pilot products sold in Enhypen US Shop
* (Baseball Jerseys, Throw, Tin Case + Sticker Set, Cushions, Reusable Cup)
* Sales IDs: 23891, 23889, 23890, 23892, 23888, 23882, 23879, 23894, 23899, 23886, 23878, 23880, 23869, 23875, 23877, 23896, 23872, 23876, 23870, 23893, 23898, 23887, 23883, 23881, 23885, 23884

> Time Period (KST): 03/28/24 - 04/07/24 and 05/04/24
> Please include columns: Goods Name, Option Name, Upper Category, Lower Category, Product Price, Units Sold, Total Sales (USD)
> Number of orders (for Average Order Value) and number of items in each order (for Average Basket Size)
> Number of new registrations / membership purchases
> Number of purchasers

cell_type : sql
role: code
code: select goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, sum(ord_item_qty) as `Units Sold`
, sum(ord_item_amt) as `Total Sales(USD)`
, count(distinct ord_sheet_number) as `# of orders`
, count(distinct we_member_id) as `# of purchasers`
, case when count(distinct ord_sheet_number)= count(distinct we_member_id) then 1 else 0 end
, sum(ord_item_amt) / count(distinct ord_sheet_number) as `Avg order value`
, sum(ord_item_qty) / count(distinct ord_sheet_number) as `Avg basket size`
, count(distinct case when pay_seq = 1 then we_member_id end) as `# of new-purchasers`
, count(distinct case when is_fc = 1 then we_member_id end) as `# of member-purchasers`
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and ( date(pay_dt) between '2024-03-28' and '2024-04-07' or date(pay_dt) = '2024-05-04' )
and sale_id in (23891, 23889, 23890, 23892, 23888, 23882, 23879, 23894, 23899, 23886, 23878, 23880, 23869, 23875, 23877, 23896, 23872, 23876, 23870, 23893, 23898, 23887, 23883, 23881, 23885, 23884)
group by goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price

cell_type : sql
role: code
code: -- Sheet #3
Time Period (KST): 01/01/23 - 05/31/24
Orders that contain MERCH and TOUR MERCH

cell_type : sql
role: code
code: select ord_sheet_number, date(pay_dt) as pay_date, goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, ord_item_qty as `Units Sold`
, ord_item_amt as `Total Sales(USD)`
, we_member_id as user_id
, case when pay_seq = 1 then 'true' else 'false' end as is_new_purchasers
, case when is_fc = 1 then 'true' else 'false' end as is_member_purchasers
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and date(pay_dt) between '2023-01-01' and '2024-05-31'
and goods_upr_cat_name in ('MERCH', 'TOUR MERCH')

cell_type : sql
role: code
code: -- Sheet #4
Time Period 03/28/24 - 04/07/24 and 05/04/24
Orders that contain FATE US PLUS TOUR, MEMBERSHIP, MEMBERSHIP KIT (편집됨)

cell_type : sql
role: code
code: select ord_sheet_number, date(pay_dt) as pay_date, goods_name, goods_option_name, goods_upr_cat_name, goods_lwr_cat_name, sale_price
, ord_item_qty as `Units Sold`
, ord_item_amt as `Total Sales(USD)`
, we_member_id as user_id
, case when pay_seq = 1 then 'true' else 'false' end as is_new_purchasers
, case when is_fc = 1 then 'true' else 'false' end as is_member_purchasers
from wev_prod.we_mart.ws_order
where is_pay = 1 and is_cx = 0 and shop = 'US' and we_art_id = 5 and ( date(pay_dt) between '2024-03-28' and '2024-04-07' or date(pay_dt) = '2024-05-04' )
and goods_upr_cat_name in ('FATE PLUS US TOUR', 'MEMBERSHIP', 'KIT')



==we_user_daily==

cell_type : sql
role: code

/Users/lymansong/Documents/GitHub/mtms/github_repo_connector.py:312: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([result_data])], ignore_index=True)

#### 프롬프트 작성 및 생성 테스트

In [15]:
llm = GoogleGenerativeAI(model="gemini-1.5-flash", api_key=os.getenv("GOOGLE_AI_API_KEY"))

template ="""
You are tasked with creating example SQL queries or Python scripts using a provided target table, based on given input queries and/or code blocks. Your goal is to demonstrate how to use the target table in SQL queries and Python code (mainly with PySpark), focusing on filtering specific columns and joining with other tables when necessary.

**Input Data**

The target table name is:
<target_table>
{target_table}
</target_table>

This is the source code for the target table:
<target_table_source_code>
{target_table_source_code}
</target_table_source_code>

You will be given a set of Python scripts for downstream tables that use the target table as a source, as well as several data extraction samples for requests. These follow the rules:

- For extract queries,
  - Each extract query is divided by an issue_id (e.g., `==DATA-NNNN==`, where NNNN is a four-digit number like `==DATA-1234==`), originating from a notebook file (.sql or .py notebook file).
  - Some may include request descriptions.

- For Python scripts for downstream tables,
  - Python scripts for downstream tables are divided by table name (e.g., `==we_table==`).

- An extract query or Python script consists of multiple cells, each cell has:
    - `cell_type`: indicates whether the cell is Python or SQL.
    - `cell_title`: (Optional) the cell title.
    - `role`: the role of the cell in the source code (e.g., code, heading, description, etc.).
    - `code`: the source code (a SQL query or a Python script).
    
Here are the input queries and extracts for data requests:
<extract_samples>
{extract_samples}
</extract_samples>

Here are the Python scripts for downstream tables:
<downstream_table_source_code>
{downstream_table_source_code}
</downstream_table_source_code>

Here is a brief explanation and general guidelines for the Weverse Data Warehouse. Please review it and use it as a reference for the data tables.
<general_guide>
{general_guide}
</general_guide>

**Your Task**

Carefully examine the input queries/code blocks and identify common themes, frequently requested information, and potential relationships with other tables. Pay attention to:

1. Specific columns or data points mentioned.
2. Filtering conditions or constraints.
3. Aggregations or calculations requested.
4. Potential joins with other tables.
5. Review the source code of the target table provided (`target_table_source_code`).

Based on your analysis, create 2-4 example SQL queries or Python scripts that demonstrate how to use the target table in both downstream batch tables and data extraction queries. Each example should:

1. Address a specific use case or information request.
2. Show appropriate filtering of columns.
3. Include joins with other tables if relevant.
4. Demonstrate proper SQL syntax and best practices.

* Feel free to create new examples that may not be directly related to the sample queries but showcase interesting use cases based on the target table's structure and available columns.

**Output Format**

Separate your output into two subsections:

- **Downstream Table/View**: Examples of how to use the target table when creating downstream tables or views. These can be used in batch source code or view table creation clauses.
- **Data Extraction**: Examples of how to use the target table for data extraction to fulfill specific requests.

Present your examples in the following markdown-formatted bullet point structure, with the code block indented under its own bullet:
<output_example>
### Downstream Table/View
- [Brief description of the use case]
    - ```sql/py
      [Your SQL query/Python code block here]
      ```
    - ```sql/py
      [Your SQL query/Python code block here]
      ```

### Data Extraction
- [Brief description of the use case]
    - ```sql/py
      [Your SQL query/Python code block here]
      ```
    - ```sql/py
      [Your SQL query/Python code block here]
      ```
</output_example>

The indentation level has to be strictly maintained for proper code execution.

Provide your entire markdown-formatted output within `<answer>` tags. The descriptions should be written in Korean.
한국어 결과는 존댓말이 아닌 단답으로 해줘. (예: "A 컬럼을 파티션 키로 활용합니다." 대신 "A 컬럼을 파티션 키로 활용")
Ensure that your examples cover a range of scenarios and query complexities. Include comments to explain key parts or reasoning behind certain choices.

**Additional Guidelines**

- Use aliases for table and column names when appropriate.
- Exclude all specific data in the query. For instance, substitute a specific artist name with "ARTIST" and a specific date with "2024-01-01".
- Include proper indentation and formatting in your code blocks for readability.
- If you make assumptions about table structures or relationships, briefly explain them in comments.
- Vary the complexity of your examples, from simple queries to more advanced ones involving subqueries or multiple joins.
- Remove overly simple or redundant queries.
- For SQL queries, write them in the style provided in the samples and keep the SELECT statements concise rather than listing many columns on separate lines.
- You may create new examples based on the structure and columns defined in the target table's source code.
- If there are fewer than 3 samples provided, avoid relying too heavily on them. Instead, focus more on the target table's structure and general data warehouse guidelines to create diverse and relevant examples.

Remember, the goal is to provide clear, practical examples that demonstrate effective use of the target table in SQL queries and Python scripts.
"""
prompt = PromptTemplate(
    input_variables=["target_table", "target_table_source_code", "extract_samples", "downstream_table_source_code", "general_guide"],
    template=template
)

answer = llm.invoke(prompt.format(
    target_table = TABLE_NAME,
    target_table_source_code = df_str,
    extract_samples = ext_samples,
    downstream_table_source_code = ds_tables_samples,
    general_guide = GENERAL_GUIDE
))

print(answer)

<answer>
### Downstream Table/View
- 아티스트별 멤버십 구매 현황을 요약하는 테이블 생성
    - ```sql
      CREATE OR REPLACE TABLE we_mart.stats_ws_d_fc_pur_smry
      AS
      SELECT
          part_date,
          we_art_id,
          we_art_name,
          COUNT(DISTINCT we_member_id) AS total_member_cnt,
          COUNT(DISTINCT CASE WHEN pur_type = 'NEW' THEN we_member_id END) AS new_member_cnt,
          COUNT(DISTINCT CASE WHEN pur_type = 'RENEW' THEN we_member_id END) AS renew_member_cnt,
          COUNT(DISTINCT CASE WHEN pur_type = 'CHANGE' THEN we_member_id END) AS change_member_cnt,
          COUNT(DISTINCT CASE WHEN fc_status = 'DEACTIVATED' THEN we_member_id END) AS deactivated_member_cnt
      FROM wev_prod.we_mart.ws_fc_user_history
      GROUP BY
          part_date,
          we_art_id,
          we_art_name;
      ```
    - ```sql
      CREATE OR REPLACE VIEW we_mart.wi_d_fc_pur_smry_by_ctry AS
      SELECT
          part_date,
          we_art_id,
          we_art_name,
          first_ip_ctry,
          COUNT(DISTINCT we_member_id) AS total_member_cnt,
          COUNT(DISTINCT CASE WHEN pur_type = 'NEW' THEN we_member_id END) AS new_member_cnt,
          COUNT(DISTINCT CASE WHEN pur_type = 'RENEW' THEN we_member_id END) AS renew_member_cnt,
          COUNT(DISTINCT CASE WHEN pur_type = 'CHANGE' THEN we_member_id END) AS change_member_cnt,
          COUNT(DISTINCT CASE WHEN fc_status = 'DEACTIVATED' THEN we_member_id END) AS deactivated_member_cnt
      FROM wev_prod.we_mart.ws_fc_user_history
      GROUP BY
          part_date,
          we_art_id,
          we_art_name,
          first_ip_ctry;
      ```
- 멤버십 구매 후 상품 구매 이력을 추적하는 테이블 생성
    - ```sql
      CREATE OR REPLACE TABLE we_mart.stats_ws_t_fc_pur_prod_relation
      AS
      SELECT
          a.we_member_id,
          a.fc_id,
          a.fc_name,
          a.create_dt AS fc_pur_dt,
          a.expire_dt AS fc_expire_dt,
          b.goods_name,
          b.sale_id,
          b.ord_cre_dt AS prod_pur_dt,
          b.ord_sheet_number
      FROM wev_prod.we_mart.ws_fc_user_history AS a
      LEFT JOIN wev_prod.we_mart.ws_order AS b
          ON a.we_member_id = b.we_member_id
          AND a.create_dt < b.ord_cre_dt
          AND b.ord_cre_dt < a.expire_dt
      WHERE a.fc_id IS NOT NULL
          AND b.goods_cat = 'MERCH'
      ORDER BY
          a.we_member_id,
          a.create_dt,
          b.ord_cre_dt;
      ```
- 멤버십 구매 후 앱/커뮤니티 이용 현황을 분석하는 테이블 생성
    - ```sql
      CREATE OR REPLACE TABLE we_mart.stats_ws_t_fc_pur_user_activity
      AS
      SELECT
          a.we_member_id,
          a.fc_id,
          a.fc_name,
          a.create_dt AS fc_pur_dt,
          a.expire_dt AS fc_expire_dt,
          b.key_date AS app_visit_dt,
          c.comm_user_cre_dt AS comm_join_dt
      FROM wev_prod.we_mart.ws_fc_user_history AS a
      LEFT JOIN wev_prod.we_mart.wv_sess_daily AS b
          ON a.we_member_id = b.we_member_id
          AND a.create_dt < b.key_date
          AND b.key_date < a.expire_dt
      LEFT JOIN wev_prod.we_mart.wv_comm_user AS c
          ON a.we_member_id = c.we_member_id
          AND a.create_dt < c.comm_user_cre_dt
          AND c.comm_user_cre_dt < a.expire_dt
      WHERE a.fc_id IS NOT NULL;
      ```

### Data Extraction
- 특정 아티스트의 멤버십 구매 이력 추출
    - ```sql
      SELECT
          *
      FROM wev_prod.we_mart.ws_fc_user_history
      WHERE we_art_id = ARTIST
          AND part_date = '2024-01-01';
      ```
- 특정 기간 동안 멤버십 만료된 유저 정보 추출
    - ```sql
      SELECT
          we_member_id,
          fc_id,
          fc_name,
          expire_dt,
          withdraw_status
      FROM wev_prod.we_mart.ws_fc_user_history
      WHERE part_date BETWEEN '2024-01-01' AND '2024-01-31'
          AND fc_status = 'DEACTIVATED';
      ```
- 특정 멤버십 종류의 구매 이력 추출
    - ```sql
      SELECT
          we_member_id,
          fc_id,
          fc_name,
          create_dt,
          expire_dt,
          pur_type
      FROM wev_prod.we_mart.ws_fc_user_history
      WHERE fc_id = MEMBERSHIP_ID;
      ```
- 특정 유저의 멤버십 구매 이력 추출 (최근 구매 이력 기준)
    - ```sql
      SELECT
          *
      FROM wev_prod.we_mart.ws_fc_user_history
      WHERE we_member_id = USER_ID
          AND part_date = (
              SELECT
                  MAX(part_date)
              FROM wev_prod.we_mart.ws_fc_user_history
              WHERE we_member_id = USER_ID
          );
      ```
</answer>

## DOWNSTREAM TABLE INFO GEN

In [219]:
1==1

True

## RAG 구축 예시

In [220]:
llm = GoogleGenerativeAI(model="gemini-1.5-flash", api_key=os.getenv("GOOGLE_AI_API_KEY"))
EMBEDDING_FUNC = GoogleGenerativeAIEmbeddings(model="models/text-embedding-004")
vs = FAISS.from_documents(docs, embedding = EMBEDDING_FUNC)
ret = vs.as_retriever(search_kwargs={'k': 5})
ret_bm = BM25Retriever.from_documents(documents= docs, search_kwargs={'k': 5})
ret_ensemble = EnsembleRetriever(
    retrievers=[ret, ret_bm], weights=[0.5, 0.5]
)

In [221]:
ret_docs = ret.get_relevant_documents("ws_album")
for doc in ret_docs:
    print(doc.metadata['issue_id'], doc.metadata['issue_title'])

DATA-6318 [BLF] 앨범 판매 리텐션
DATA-6326 LSF 전작대비 예약판매 추이 비교분석용 데이터 추출
DATA-6363 [HYB] 신보 발매 이후 판매패턴 분석
DATA-6332 'FACE' 앨범 위버스샵 구매자 중에서 'MUSE' 앨범을 구입한 위버스샵 구매자의 비율
DATA-6126 [TWS 앨범구매자 분석 요청]

In [222]:
ret_docs = ret_bm.get_relevant_documents("ws_album")
for doc in ret_docs:
    print(doc.metadata['issue_id'], doc.metadata['issue_title'])

DATA-6008 [HMS] DC영상 시청 데이터
DATA-6194 [요청] 주문번호별 응모 이벤트 정보 등 확인요청
DATA-6318 [BLF] 앨범 판매 리텐션
DATA-6316 [HYB] 엔하이픈 위버스 커뮤니티 관련 수치